[2018-06-23 10:08] mariomadproductions opened #1 "Padding?"
Does this padding exist on the ROM chip, or is it just added by this program?
If the latter, could there be an option for dumping the ROM without the padding?

[2018-06-23 16:49] DarkMatterCore commented on #1
It's added by the application based in gamecard size field from the header. It's gonna be changed to a configurable option in the next release.

[2018-06-23 18:56] mariomadproductions commented on #1
Thanks. Does the padding actually exist on the ROM chip though?

[2018-06-23 20:00] DarkMatterCore commented on #1
It is assumed it does exist.

Every cartridge has two different IStorage instances that can be accessed: one with partition ID #0 (which contains the gamecard header, the gamecard certificate, the root HFS0 header, the "update" partition, the "normal" partition and the "logo" partition [this last one only on type 0x02 gamecards]), and one with partition ID #1 (which contains the "secure" partition

[2018-06-24 00:53] DarkMatterCore commented on #1
Fixed in commit 730912a626a329c24e5e70be083725fd6564c251.

[2018-06-24 00:53] #1 closed

[2018-06-24 08:17] mariomadproductions commented on #1
Would having the padding feature on produce a ROM that is identical to a 1:1 dump?
Either way, is it feasable to make a "directly read from ROM" 1:1 dump?

[2018-06-24 09:33] DarkMatterCore commented on #1
There's some crypto in place that would need to be performed to truly call the dumps produced by this tool "1:1 dumps". However, since the gamecard controller only returns decrypted buffers, there's no easy way to get the original encrypted data from the cartridge. Even BBB has "indirectly" announced this because their dumps match the ones created with this tool, meaning that they're also decrypte

[2018-06-26 18:06] x7l7j8cc opened #2 "nswdb.com XML database download/update"
you will add in the next release the auto update xml from nswdb.com and an auto update for the dumper itself?

[2018-06-26 19:39] DarkMatterCore commented on #2
Yes, I will. I'm trying to get the network code to work.

An update feature for the dumper itself will probably require some additional work (HTTPS), but I guess it can be done as well.

[2018-06-26 19:58] x7l7j8cc commented on #2
dont know, but can you use some of the https://github.com/LiquidFenrir/MultiUpdater of the 3DS? i think you can use much of this code.

[2018-06-26 20:14] DarkMatterCore commented on #2
I suppose I can. Thanks.

[2018-06-28 03:39] AlexS2412 opened #3 "Dump speeds slow down to nothing"
Tried with latest release with each second it loses 1mibps in speed. Went from start of 10mibps down to 0 before my dump ever completed.

[2018-06-28 04:52] DarkMatterCore commented on #3
Have you tested it with a different SD card? In all my tests, it ramps up from 0 MiB/s to approximately 7.25 MiB/s, and once it gets there, it keeps that average speed for the whole process.

I'm using a 32 GB SanDisk micro SD card (UHC I). Formatted as FAT32.

[2018-06-28 05:00] DarkMatterCore opened #4 "Logo partition FS data parsing."
The current method of mounting HFS0 partitions to view/extract data from them doesn't work with the logo partition from type 0x02 gamecards.

There's supposedly a "MountLogo" IPC call available somewhere, but I still have to gather info about it.

If everything else fails, we can manually parse the filelist from the HFS0 header and display that.

[2018-06-28 05:33] DarkMatterCore commented on #3
Hmm. It's really weird. Are you using exFAT or FAT32? Using my current test build (with changes unrelated to the dump code) I get the same speeds.

I just made a backup of my SD card, formatted it as exFAT and got a slight speed increase (around 8.50 MiB/s). But it is steadily keeping at that rate.

The code measures the transfer speed using a smoothing factor of 0.05. So it's actually weird it st

[2018-06-28 05:48] AlexS2412 commented on #3
If you have discord please contact me as i have been testing for the last 5
hours. My username is Alex S#8291 . It seems it is still slowly dumping and
has reached 1.33mibps and has not full stopped yet but is still slowing
down.

On Thu, Jun 28, 2018, 1:33 AM Pablo Curiel <notifications@github.com> wrote:

[2018-06-28 05:55] DarkMatterCore commented on #3
Will do. Thanks for willing to help.

This comment will be kept as a placeholder for our findings through Discord. I'll be updating it.

[2018-06-28 16:15] #3 closed

[2018-06-29 19:15] DarkMatterCore opened #5 "Game card launch error after using the application."
This is a known bug and it's related to fsp-srv. The error displayed by Horizon is not a kernel panic and doesn't get logged in the error history. It doesn't force the user to reboot the console.

Just reinserting the game card seems to do trick. But an alternate solution would be preferrable.

[2018-06-30 06:43] DarkMatterCore commented on #4
Some preliminar code to get the HFS0 header from any given partition has been added to dumper.c in commit fae387a18206477d66dd275fba006f18c00056d5, although it is commented out for the time being.

[2018-06-30 06:45] DarkMatterCore commented on #2
XML update has been added in commit fae387a18206477d66dd275fba006f18c00056d5.

I'll leave this feature request open because it isn't possible to make an "in-app" updater at this moment, due to limitations in switch-curl. When this matter gets solved, I'll close this issue.

[2018-06-30 06:46] DarkMatterCore commented on #5
This has been a tough nut to crack so far. I have spent hours trying to find the source of the problem (which is definitely related to fsp-srv) to no avail.

Any help on this matter will be greatly appreciated.

[2018-06-30 21:15] x7l7j8cc opened #6 "Please wait... stuck!"
When i launch the app to dump a game, i insert a game (like always), but the "Please wait..." message lasts forever. i have to push the HOME button to exit.

[2018-06-30 21:18] DarkMatterCore commented on #6
Please state your Switch's FW version, the method used to launch the application, the version of gcdumptool you are using, and the game card title name.

[2018-06-30 21:44] DarkMatterCore commented on #6
Same setup as me, basically (5.1.0 + Hekate + Super Mario Odyssey). Can't test with SX OS or any other cartridges, though.

Using Hekate, if a crash occurs at that point, it can only mean that one of these possibilities is taking place:

* The application fails to get the update partition info (and crashes for some reason).
* The application fails to read the root HFS0 header from the game card (a

[2018-06-30 21:57] x7l7j8cc commented on #6
Ok, wait for the debug build... i will try this with hekate and sx os.

[2018-07-01 06:14] DarkMatterCore commented on #6
Turns out it was some kind of problem related to the SD card that got fixed after reformatting it.

[2018-07-01 06:14] #6 closed

[2018-07-02 18:25] Pneumaticat opened #7 "Service initialization hangs the program on the "Please wait..." message when the console hasn't been connected to the Internet in the past while running Hekate/SX OS."
Switch Firmware: 4.1.0
Method: Hekate (3.0)
Version: 1.0.5
Game Card: Super Mario Odyssey

Similar to #6, but I've checked my SD card and even reformatted it, and I still get this issue. I'm on Linux, and I used `mkfs.vfat -F32 -s 64 /dev/sdk1` to do so.

[2018-07-02 18:37] DarkMatterCore commented on #7
This is what @x7l7j8cc said that worked for him:

"wait i think i found the problem.. its not related to gcdumptool ... but to the microsd ...
when i go to the Software tab in the System Settings, doesnt show any games updated, but normally on my sd i have the updates for the games...

so i try first to reformat the sd, then i will let you know."

"ive solved... i dont know what happened whatever.

[2018-07-02 18:37] DarkMatterCore commented on #7
(whoops, my mistake)

[2018-07-02 18:45] Pneumaticat commented on #7
Weird, when running the test build, I still only get the "Please wait", no extra debug information is printed.

It seems that perhaps connecting to wifi helped it work? That could be the case; I've kept my switch in airplane mode the whole time since getting it. I'll try connecting to see if that works.

[2018-07-02 18:49] Pneumaticat commented on #7
Yup, connecting to Wifi fixed it. It seems that without an internet connection, it hangs there.

[2018-07-02 18:50] DarkMatterCore commented on #7
That's even weirder, to be honest. It would mean that the crash is happening right before opening the first game card handle. The first debug message in that build is supposed to display after that.

The Wi-Fi thing suggested by @x7l7j8cc still doesn't make sense to me, but maybe is something related to Horizon. Sockets are only initialized when the update options in the main menu are selected, ot

[2018-07-02 18:52] Pneumaticat commented on #7
Actually, it might be more nuanced than that. I just went into Airplane mode after connecting for the first time, and the tool still opens.

I can still open the tool after restarting the OS as well.

Perhaps it needs some sort of one-time download from Nintendo‽

[2018-07-02 19:01] DarkMatterCore commented on #7
Yeah, I just tried running the application in airplane mode and it still works. This has me perplexed, to say the least.

[2018-07-03 19:23] x7l7j8cc commented on #7
i think since the is now using the ncm service, need some type of authorization, and this can be done only from internet... in fact after connected one time to wifi (without any proxy/dns) and worked the first time, you can reconnect to proxy/dns or in airplane mode... this is the strange thing, but i think its necessary due to the ncm service.

Dont know, but this is the only thing i can think of

[2018-07-13 13:03] postcert opened #8 "Unable to retrieve the game card Title ID!"
The error mentions being above the cartridge's FW, but my system is on 5.1.0 so these 2.1 and 3.1 carts shouldn't be erroring.

Is network connectivity necessary to download the XML db?

[2018-07-13 13:28] DarkMatterCore commented on #8
Which method are you using to launch the application? All the reports I have received regarding this error have actually been related to the system FW version being lower than the one on the game card.

Yes, network connectivity is required to download the NSWDB XML, but it isn't mandatory. It is only needed for dump verification, which is totally optional.

However, you may need to connect your c

[2018-07-13 14:01] postcert commented on #8
I've been running it through nx-hbmenu v2.0 (newest release) and SXOS 1.3.
From what I understand in issue #7 the switch had never been connected to the internet all together, but I've used my switched for ~6 months online prior and updated to 5.1 online before going on airplane mode for SXOS usage.

btw: I bought a fresh switch yesterday which should work for another issue #7 test case.

[2018-07-13 15:23] DarkMatterCore opened #9 "Compatibility with PegaSwitch on FW < 4.0.0."
Since CFWs (Hekate, SX OS) provide full permissions under FW >= 4.0.0, the application works fine while using them. However, lower firmware versions are also compatible with PegaSwitch, which is launched at runtime once the system has already booted and thus, doesn't offer the same access permissions.

There's a [dumpXCI.js PegaSwitch script](https://gist.github.com/AcK77/56b86469faef238157a0e02cb

[2018-07-13 16:47] DarkMatterCore commented on #8
It must be connected to the Internet at least once while using a CFW (Hekate/SX OS). I haven't been able to test the application under SX OS myself, though. But most tests performed by other users suggest this fixes the problem. If a possible ban concerns you, then block the "receive-lp1" domains in your router to avoid that.

Public releases of the WAIN dumper do not use the NCM and NS services t

[2018-07-13 18:10] postcert commented on #8
Sounds great, I'll give that a chance after setting up a proxy.

[2018-07-23 03:13] DarkMatterCore commented on #7
Fixed with commit 7a94da0a5c452b9080fa1fc2e9d8af82ab3637a8. Turned out to be a problem with the tie functions from the standard C library. The application is now using the time service from the Switch.

[2018-07-23 03:13] #7 closed

[2018-07-23 03:17] DarkMatterCore commented on #8
@postcert

The hang up at the "Please wait" screen has been fixed with commit 7a94da0a5c452b9080fa1fc2e9d8af82ab3637a8. Turned out to be a problem with the time functions from the standard C library. The application is now using the time service from the Switch.

I'll leave this issue open because it's still weird that the application can't read the metadata from game cards with a bundled firmware

[2018-07-25 05:33] DarkMatterCore commented on #5
Upon further inspection, it seems the source of the problem is *not* the GetGameCardHandle IPC call, but rather the OpenGameCardPartition call (IFileSystemProxy cmd 30). It doesn't matter if at least a single call fails, the error can still be triggered after going back to Horizon.

I compared the argument order used in the OpenGameCardPartition call (which has remained largely untouched since the

[2018-07-27 10:53] MCMrARM commented on #5
I have a note about this topic:
I have had the first OpenGameCardPartition call fail. As you can see, the code tries to call it twice (the workaroundPartitionZeroAccess function), with the first call failing with some weird error and the second one working. I do not know what exactly happens, but the first call takes a weirdly long time, so I'd assume it's remounting the card in a different mode.

[2018-07-30 00:00] DarkMatterCore commented on #5
@MCMrARM Thanks for taking the time to come here and provide some insight, I really appreciate it. I haven't been very active lately because I migrated from Venezuela to Spain on Friday and I still have a lot of stuff to do.

I did notice that the first error code returned is 0x172002, which according to Switchbrew is a game card access error. Perhaps knowing a bit more about other game card relat

[2018-08-10 17:17] TheSerafan commented on #8
I have the same problem. My firmware is at 5.1, but supposedly it's not high enough to  dump the cartridge.

I get the same error message.

[2018-10-06 13:45] mariomadproductions opened #10 "Suggestion: More accurate dumps"
[Here](https://github.com/DarkMatterCore/gcdumptool/issues/1) you (@DarkMatterCore) suggested that the dumps made with this tool aren't 1:1 - they are partially decrypted and are probably missing "ECC data".
Would it be feasible to dump the carts encrypted - and would the resultant ROM dump be decryptable?
Would it also be feasible to dump the "padding" properly (what you think is probably "ECC da

[2018-10-06 14:28] mariomadproductions commented on #10
Okay. Hopefully a way will be found in the near-future.

[2018-12-02 20:55] DarkerUltor opened #11 "Error during the dump"
i was dumping super mario odissey, when the dump is at 53% i get that error: Failed to write chunk to offset 0x00000000FFF18000. i tried with another dumpers, but i get the same error, is it the cart? im on 6.2.0

[2018-12-14 21:55] roblabla opened #12 "Crash when attempting to browse files of logo partition on Smash"
While trying to browser the logo partition of Smash, I got a fatal screen. It seems to crash in the getGameCardTitleIDAndVersion function. The stacktrace and memory dump is in the zip attached here.

[gcdumptool_crash.zip](https://github.com/DarkMatterCore/gcdumptool/files/2681801/gcdumptool_crash.zip)

[2019-03-09 04:49] fennectech opened #13 "text way too small on docked mode"
The text is much to small to read on TVs

[2019-03-09 22:25] LilPuff420 commented on #11
Yo, us anyone or the owner of this repo gonna help? I have the same error stuck at the same percentage which is 53 and I tried it with let's go Pikachu.

[2019-03-14 15:04] ThatNerdyPikachu commented on #13
Just use it in handheld then :P

[2019-04-10 21:20] mafischer commented on #9
@DarkMatterCore, I'm not sure if you've seen it, but here's a technical writeup that may give you the hints your looking for:

http://hexkyz.blogspot.com/2018/12/the-switch-memoir.html

[2019-04-11 18:13] mafischer commented on #6
I just experienced this issue.

- Atmosphere: 0.8.6
- Switch Firmware: 7.0.1
- gcdumptool: 1.0.5
- Game Card: Super Smash Bros

[2019-04-12 05:46] Matt07211 opened #14 "Homebrew crashes when verifying a XCI dump with missing node data in NSWReleases.xml."
Using version v1.0.5
Switch Firmware is the latest availble
SD Card: fat32 (So i use the split option when dumping
I've tried dumping the game twice now (restarting the deuce the first time to try and rule any random thing out), and the software would crash around the latter half of the dumping (Cant get specifics as I am not paying attention to the device while it dumps)  process.

Logs attached

[2019-04-22 16:55] DarkMatterCore commented on #12
@roblabla

Hi there. Sorry for taking so long to answer, a lot of things have happened in my personal life in the past few months, and they have kept me busy enough to stop browsing the Internet as much as I'd like.

This problem seems to be related to #4. Could you please try out the attached test build? I have enabled manual HFS0 partition header parsing in it, replacing the partition filesystem

[2019-04-22 16:58] DarkMatterCore commented on #10
For the time being, I'm gonna leave this issue open. If new information related to this topic comes to light, I'll make sure to update this issue status.

[2019-04-22 17:01] DarkMatterCore commented on #11
@DarkerUltor

Hi there. Sorry for taking so long to answer, a lot of things have happened in my personal life in the past few months, and they have kept me busy enough to stop browsing the Internet as much as I'd like.

Given that other dumpers also fail to dump the same chunk, it may very well be some kind of gamecard malfunction. However, unless I see either an screenshot with the error code pro

[2019-04-22 17:04] DarkMatterCore commented on #13
@fennectech @ThatNerdyPikachu

Hi there. Sorry for taking so long to answer, a lot of things have happened in my personal life in the past few months, and they have kept me busy enough to stop browsing the Internet as much as I'd like.

Nonetheless, I have been working on fixing this up (albeit slowly, lazy af), and now it's done. Please test the attached test build. I have replaced the 8x8 ASCII

[2019-04-22 17:07] DarkMatterCore commented on #14
@Matt07211

Hi there. Sorry for taking so long to answer, a lot of things have happened in my personal life in the past few months, and they have kept me busy enough to stop browsing the Internet as much as I'd like.

Could you please try out the attached test build? It was built using the latest devkitA64 and libnx releases, and fixes some problems related to fs-srv calls that should likely provi

[2019-04-22 17:14] DarkMatterCore commented on #9
@mafischer

Hi there. Sorry for taking so long to answer, a lot of things have happened in my personal life in the past few months, and they have kept me busy enough to stop browsing the Internet as much as I'd like.

Even though I did read the technical writeup you provided, I must admit that sadly, some of the stuff hexkyz suggests over theme are beyond my capabilities. Nonetheless, I truly appr

[2019-04-22 17:16] DarkMatterCore commented on #8
@TheSerafan @postcert

Hi there. Sorry for taking so long to answer, a lot of things have happened in my personal life in the past few months, and they have kept me busy enough to stop browsing the Internet as much as I'd like.

Could you please try out the attached test build? I want to find out if this bug can still be reproduced on it.

[gcdumptool_test_20190422.zip](https://github.com/DarkMatt

[2019-04-22 20:11] fennectech commented on #13
![image](https://user-images.githubusercontent.com/11953665/56525618-db9ea480-6510-11e9-851e-8f526f9ac917.jpg)

![image](https://user-images.githubusercontent.com/11953665/56525662-ebb68400-6510-11e9-8680-a24a93a53ef2.jpg)
How does this look. I can easily read this.

[2019-04-22 20:13] fennectech commented on #13
Additionally. I hope things wind up well for you

[2019-04-23 01:31] Matt07211 commented on #14
Okay, I have tried it with Super Mario Bros u deluxe and it still comes up with this software has crashed due to an error.

[2019-04-23 02:20] DarkMatterCore commented on #14
Any error codes?

[2019-04-23 02:21] Matt07211 commented on #14
Nothing visible on screen (or after clicking okay in the error message). I'd assume the logs will be the same/similar to what is attached in my original message.

[2019-04-23 02:22] DarkMatterCore commented on #13
Thanks for testing it! I greatly appreciate it. I'll commit the changes and close this issue as soon as I get feedback on another problem that I hope to have fixed in this build.

[2019-04-23 02:26] DarkMatterCore commented on #14
It would be good to have a copy of them as well. Offsets will be different for this build.

[2019-04-23 02:28] Matt07211 commented on #14
Give me a few hours then I'll be able to grab and upload them

[2019-04-23 03:18] fennectech commented on #13
What’s the other problem?

On Mon, Apr 22, 2019 at 9:22 PM Pablo Curiel <notifications@github.com>
wrote:

--
FennecTECH

[2019-04-23 04:36] DarkMatterCore commented on #13
The other one would be related to issues #4 and #12. I need to find out if partition browsing works properly with type 0x02 gamecards. Smash would be a pretty good candidate.

[2019-04-23 04:37] fennectech commented on #13
Dont have smash.  How would i find type ?

On Mon, Apr 22, 2019 at 11:36 PM Pablo Curiel <notifications@github.com>
wrote:

--
FennecTECH

[2019-04-23 04:37] DarkMatterCore commented on #14
Thanks! I'll be waiting.

[2019-04-23 04:41] fennectech commented on #13
I see this with monster hunter generations (type 0x02) when looking at normal.  The others work fine.
![image](https://user-images.githubusercontent.com/11953665/56554675-14ae3780-6558-11e9-957e-21e88d98353e.jpg)
![image](https://user-images.githubusercontent.com/11953665/56554683-1d9f0900-6558-11e9-9b06-30ef9bc6e84d.jpg)

[2019-04-23 04:44] fennectech commented on #13
Logo partition loads fine

[2019-04-23 04:45] #13 closed

[2019-04-23 04:56] DarkMatterCore commented on #13
Whoa, thanks a lot! Don't worry, that was actually kinda expected (although I did overlook it). Switchbrew [states](https://switchbrew.org/wiki/Gamecard_Format#Cartridge_Layout) the following:

[code]

Knowing that manual HFS0 partition header parsing works fine makes me really happy. I had to spent quite some time testing it with Super Mario Odyssey. Guess I'll just have to block that option for

[2019-04-23 04:57] fennectech commented on #13
Glad to hear it :).

On Mon, Apr 22, 2019 at 11:56 PM Pablo Curiel <notifications@github.com>
wrote:

--
FennecTECH

[2019-04-23 05:06] DarkMatterCore commented on #12
This was already confirmed to be working by @fennectech using a test build with yet-to-be-pushed changes (check issue #13). I'll close this issue and make a proper release in a few hours.

If you run into other problems, please, feel free to open another issue or to reopen this one! Thanks.

[2019-04-23 05:07] fennectech commented on #12
Godspeed!

[2019-04-23 05:27] DarkMatterCore commented on #4
Fixed in d22add43bf9ab487d4faf432818a6d6fd72f733d.

[2019-04-23 05:27] #4 closed

[2019-04-23 05:27] DarkMatterCore commented on #12
Fixed in d22add43bf9ab487d4faf432818a6d6fd72f733d.

[2019-04-23 05:27] #12 closed

[2019-04-23 05:28] DarkMatterCore commented on #13
Now, I can formally say: fixed in d22add43bf9ab487d4faf432818a6d6fd72f733d.

[2019-04-23 05:28] DarkMatterCore commented on #2
Fixed in d22add43bf9ab487d4faf432818a6d6fd72f733d.

[2019-04-23 05:28] #2 closed

[2019-04-23 09:00] Matt07211 commented on #14
Sorry for the late response!
Here the logs requested. I attempted it twice so I included both logs.
[dumps.zip](https://github.com/DarkMatterCore/gcdumptool/files/3106743/dumps.zip)

[2019-04-23 10:59] DarkMatterCore commented on #14
Sorry to bother you yet again, but could you perform the same test with the v1.0.6 release binary? There were some last minute changes over there.

[2019-04-23 11:42] Matt07211 commented on #14
Still crashed (Newest Atmosphere and the newest released binary from you. But this time I was sitting ready to take photos. It seems to crash when verifying if the images are to be believed.

Dumping at 99%
![IMG_20190423_213410__01](https://user-images.githubusercontent.com/12839977/56578126-2f43e780-6610-11e9-8c8b-f0bd4649fa91.jpg)

Dumping at 100% and image taken quite literally as the error me

[2019-04-23 11:46] DarkMatterCore commented on #12
@roblabla

While we're still at it (I hope \*not\* to have lost your interest in this just yet!), I noticed you're one of the maintainers of the SwIPC project. First of all, let me thank you, because I wouldn't have been able to get the application running up to this point without all that documentation.

That being said, would you be able to give some insight regarding issue #5? I've been trying

[2019-04-23 11:58] Matt07211 commented on #14
Same thing on dark souls, sorry the pictures arent as good this time around.
![IMG_20190423_215402__01](https://user-images.githubusercontent.com/12839977/56579118-b003e300-6612-11e9-91f0-db6e9d153107.jpg)
![IMG_20190423_215403__01](https://user-images.githubusercontent.com/12839977/56579119-b09c7980-6612-11e9-8621-90924cc0e3a6.jpg)

[2019-04-23 12:14] DarkMatterCore commented on #14
Thanks. Now I see where the problem is:

[code]

Notice the missing value for the `<card>` node?

I'll do a quick fix and upload it ASAP for you to test.

[2019-04-23 12:15] Matt07211 commented on #14
Tell me when, and I'll give it a crack!

[2019-04-23 12:28] DarkMatterCore commented on #14
Here's it. Please test the attached build.

[gcdumptool_20190423_xmlfix.zip](https://github.com/DarkMatterCore/gcdumptool/files/3107463/gcdumptool_20190423_xmlfix.zip)

[2019-04-23 12:31] DarkMatterCore commented on #14
Coincidentally, Dark Souls shares the same problem as well in the XML:

[code]

I'm positive the bug should be fixed by now, but I want to make sure.

[2019-04-23 12:48] Matt07211 commented on #14
It didn't crash! Yay, I believe we can close this issue (I'll leave that up to you to do tho)

[2019-04-23 12:49] DarkMatterCore commented on #14
Thanks! I'll create a new release right away.

[2019-04-23 12:49] #14 closed

[2019-04-23 12:52] DarkMatterCore commented on #14
Fixed in fd4b7e933b57d76c53d8d931cb6a7b95ba4e11b7.

[2019-04-27 16:07] Hking0036 commented on #11
I am experiencing the same problem, but with Pokemon: Let's Go, Eevee! and not Mario. I have dumped by SMO Rev 0 Cart before with an older version (1.0.3) of GCDumpTool, and didn't have any problems. This might be a problem with newer carts.

I was attempting to dump Pokemon on GCDumpTool version 1.0.7 and this is the error code that GCDumpTool produced:
![photo_2019-04-27_12-07-23](https://user-i

[2019-04-27 21:50] DarkMatterCore commented on #11
@Hking0036 Thanks for your input on this matter. It is greatly appreciated.

Weird that the bug is reproduced when the split option is disabled, since file I/O is more complicated when it's actually enabled. A single fwrite() call is performed per each loop iteration in that case, so it must be happening here for some kind of reason:

https://github.com/DarkMatterCore/gcdumptool/blob/fd4b7e933b57d

[2019-04-27 22:19] DarkMatterCore commented on #6
@mafischer Hi there. Would you please test again using the latest stable release?

If you can consistently reproduce this bug on it, feel free to open a new issue.

[2019-04-27 22:33] DarkMatterCore opened #15 "Multigame cart metadata handling."
As of v1.0.7, gcdumptool is only able to retrieve the metadata for the first regular application entry from any gamecard.

If a multigame cart is inserted (like `Wheel of Fortune + Jeopardy!` and other physical releases), there'll be missing information in the main menu. Also, this could prevent a full XCI dump from being properly verified against the XML database if the Title ID from any of the o

[2019-04-27 23:46] Hking0036 commented on #11
I can try out test builds, but unfortunately I'm away from home until tomorrow, so short-term I won't really be able to. In regards to the setup:

* SD Card is a Samsung brand EVO 128 GB card (the yellow one), it has one big old FAT32 partition.
* FW is 8.0.1, I'm running Atmosphere 0.8.9, using KosmosNX to load it.
* For this instance, I ran it as an applet with the album.

In regards to the SD c

[2019-04-28 00:35] DarkMatterCore commented on #11
@Hking0036 Don't worry about it, just getting any help on this is good enough. Doesn't matter if its slow or not. :)

If you're using FAT32, that explains why the error is happening: the application is exceeding the `4 GiB - 1` file size limit imposed by FAT32 exactly at offset `0xFFF18000`. A buffer size of 1 MiB is used, so `0x0FFF18000 + 0x000100000 = 0x100018000` (the limit itself being `0x0FF

[2019-04-28 03:14] Hking0036 commented on #11
Here's what I got out of your test build:
![2019042723070000-DB1426D1DFD034027CECDE9C2DD914B8](https://user-images.githubusercontent.com/1592179/56858039-3fc2cd80-6942-11e9-8072-24f4a66e57f4.jpg)
![2019042723131700-DB1426D1DFD034027CECDE9C2DD914B8](https://user-images.githubusercontent.com/1592179/56858040-40f3fa80-6942-11e9-8093-fdf5cad2f825.jpg)

[2019-04-28 03:33] DarkMatterCore commented on #11
@Hking0036 Yup, just as I thought: the problem is definitely related to the FAT32 file size limit. That's why it works when you enable the split option. The displayed information matches up with the sum I wrote in my previous comment.

Unless a solution for detecting exFAT partitions is found, the application will still rely on the user to determine this, sadly.

[2019-04-28 04:03] DarkMatterCore opened #16 "Gamecard -> NSP dump option."
Needs no additional explanation. I'll get on this when I have the time.

No option to dump installed titles in eMMC/SD card to NSP packages will be added. That's out of the scope of this application and there are already far better solutions to accomplish this (like Goldleaf).

[2019-05-01 20:36] DarkMatterCore commented on #16
Fixed in 0713a13151223c99c3e1606b19d1ed688ce38012.

[2019-05-01 20:36] #16 closed

[2019-05-01 20:36] DarkMatterCore commented on #15
Fixed in 0713a13151223c99c3e1606b19d1ed688ce38012.

[2019-05-01 20:37] #15 closed

[2019-05-02 23:04] 16BitWonder opened #17 "Display does not update the current part when dumping"
I noticed when dumping split xcis that the display is not updating which part it's dumping to, it will always say it's dumping to <title_name>.xc0 without incrementing to. xc1 or higher.

https://i.imgur.com/AQ45Q9O.jpg
https://i.imgur.com/7qEMc8g.jpg

[2019-05-03 01:00] DarkMatterCore commented on #17
@16BitWonder Thanks for reporting this. Obviously an overlook on my behalf.

I'll take care of it ASAP.

[2019-05-30 01:21] friedkeenan opened #18 "Set the archive bit for split XCI dumps"
Instead of dumping to `name.xc0`, `name.xc1`, etc., it could be dumped to `name.xci/00`, `name.xci/01` etc, where `name.xci` is a folder. You could then set the archive bit on `name.xci` using `Result fsdevSetArchiveBit(const char *path)`, which would make HOS treat `name.xci` as a file and not as a folder. This could be done for dumping NSPs as well

[2019-05-30 03:36] DarkMatterCore commented on #18
This is already performed on NSP dumps - I use FAT32, so that's how I actually tested the produced dumps without going back to my PC.

Split XCIs + archive bit could probable be turned into an option. A lot of tools already support the `*.xc[number]` format, and SX OS uses it without having to set the archive bit at all.

[2019-06-05 22:51] DarkMatterCore commented on #18
Fixed in aab7e24778264c46e5ffcb0c9a5deca275f28251.

[2019-06-05 22:51] #18 closed

[2019-06-05 22:51] DarkMatterCore commented on #17
Fixed in aab7e24778264c46e5ffcb0c9a5deca275f28251.

[2019-06-05 22:52] #17 closed

[2019-06-12 17:08] mafischer opened #20 "ETA shows 19H erroneously"
It seems as though the hour field in the remaining time is hard coded to be 19.

Gamecards used: `JUST DANCE® 2019, The Legend of Zelda Breath of the Wild, V-Rally 4`
SD card: `SanDisk Ultra 400GB microSDXC UHS-I`
gcdumptool version: `1.0.8`
CFW: `AtlasNX Kosmos`
Switch firmware: `7.0.1`

![2019061319571900-DB1426D1DFD034027CECDE9C2DD914B8](https://user-images.githubusercontent.com/1082176/5947729

[2019-06-12 17:50] DarkMatterCore commented on #20
Could you please provide more information about your current setup? Stuff like this would be useful to know:

* Gamecard used.
* SD card model/capacity/brand.
* gcdumptool version.
* CFW type/version.
* Switch FW version.
* A screenshot in which the problem can be seen.

[2019-06-15 22:19] mafischer commented on #20
@DarkMatterCore please see updated issue.

[2019-06-16 01:12] DarkMatterCore commented on #20
This has been fixed on v1.1.0. Please update and test again.

[2019-06-18 00:23] mafischer commented on #20
Yes, it’s fixed in 1.1.0

[2019-06-18 00:23] #20 closed

[2019-06-21 14:36] Maschell opened #21 "Title/content indexes for SD/eMMC titles are not being properly calculated on NSP/ExeFS/RomFS dumping."
Everytime I want to dump an update I get "listTitlesByType: title count mismatch in ncmContentMetaDatabaseListApplication". Dumping a DLC works fine.
Using the latest 1.1.1 of nxdumptool on a 8.1.0 console

[2019-06-21 14:58] DarkMatterCore commented on #21
Please upload a screenshot of the problem containing the displayed filter code.

Also, please provide more information about your setup, like:

* CFW used.
* CFW version.
* SD card brand/model/capacity.
* Title storage source (gamecard or SD/eMMC).

[2019-06-21 15:04] Maschell commented on #21
- atmosphere-0.9.1-master-241b8f46
- Samsung Evo Plus 128GB
- SD/eMMC

<img width="640" alt="screenshot" src="https://user-images.githubusercontent.com/8582508/59931966-6b47cd00-9446-11e9-82df-fe74ece62612.png">

[2019-06-21 19:02] DarkMatterCore commented on #21
I think I have located the problem, thanks for your input!

Could you please test this build? https://mega.nz/#!wEwWEApA!k0lIYYo3lfMM0b9Ds8KqM3NRhFwoMRxMobtiqLaQF9s

Thanks in advance.

[2019-06-22 05:05] DuIslingr commented on #21
SXOS 2.8
Firm 8.1
Prod.keys file exists
Sandisk 128GB (Exfat)
EMMC
I tried this test build as I had the same issue trying to dump the base game.
Different error occurs now.

[http://www.mediafire.com/view/26fhij7a3uds2rf/2019062200592600-DB1426D1DFD034027CECDE9C2DD914B8.jpg](image)
[http://www.mediafire.com/view/h9t845aclb87hs4/2019062200590300-DB1426D1DFD034027CECDE9C2DD914B8.jpg](image)

[2019-06-22 11:02] DarkMatterCore commented on #21
That's even worse. The `ncmContentMetaDatabaseGet()` call comes before the check that should be fixed in that build. Where's the title installed? Have you tried another CFW?

[2019-06-22 12:30] DarkMatterCore commented on #21
@Maschell @DuIslingr Please disregard that last build and try this one instead: https://mega.nz/#!oRpwWQzB!8Kmtr2pib4DUycevbQnUPHKLnc3iH85mpWwDv_EhtF4

Thanks again.

[2019-06-22 12:41] DarkMatterCore commented on #21
This is actually related to the fact that SD card titles and eMMC titles are collectively treated as an unique storage source, since the content retrieval methods used for both sources are identical. Title/content indexes were not being properly calculated.

[2019-06-22 12:48] Maschell commented on #21
Ah, was it because we had titles on the eMMC AND SD card?

It does work now, thanks for the quick fix. (Althought by now I just used the switch built-in feature to update games on other switch consoles xD)

[2019-06-22 12:52] DarkMatterCore commented on #21
@Maschell Yes, this was actually affecting more than just NSP dumping. Thanks for reporting this bug!

I wouldn't have noticed it otherwise since I only have SD card titles, and so did the other users that helped me with testing the previous version before releasing it.

I'm going to wait for @DuIslingr 's input on this matter. If it works for them, I'll close the issue.

[2019-06-22 12:52] Maschell opened #22 "Batch dumping of titles"
It would be great to have an option to batch-dump all titles on the SD/eMMC. Maybe with filter options (only SD, only eMMC, only Base, only DLC, only Updates)? With an option to skip or override existing titles.

Currently dumping all the contents it pretty annoying because you have to dump them individually. (+ there is no indication of which titles where already dumped)

[2019-06-22 12:54] Maschell opened #23 "Warning/Error when dump/file already exists and would be overriden"
Currently there is no warning when you dump a NSP twice in a row.

It would be great to have prompt where user can choose between overwriting and cancel.

[2019-06-22 12:56] DarkMatterCore commented on #22
This is actually planned for the next release (well, the one after the bugfix I hope to release in a couple of hours).

X button will be used to enter batch mode.

[2019-06-22 12:58] Maschell opened #24 "Indicator if dumped version of the title already exist on the SD card."
Similar to issue #23 and maybe #22 . It would be great to have some kind of indication of the list of titles on the SD/eMMC to show the user it already has been dumped (=> a file with the target filename exists on the sd card).

Context: Currently I am trying to dump all updates from my consoleand it's pretty hard to keep up with the updates I've already dumped.

[2019-06-22 13:01] Maschell opened #25 "Keep track of position in titles list when returning back to the list."
When multiple titles are installed on the console and you select a title but return back to the list (either by pressing B or because the dumping has finished), the "cursor" should be still at last selected title. Currently it's always back to the first item.

[2019-06-22 21:51] DuIslingr commented on #21
@DarkMatterCore I cant donwload the new file. its been removed? Was at work when you replied

[2019-06-22 22:07] DarkMatterCore commented on #21
@DuIslingr Sorry, my bad. Here's the updated link: https://mega.nz/#!QBxVyAAY!synQBO0JPWe_GT5k0zIwYqSNKlXUrptQYZpfSokugMo

[2019-06-22 23:53] DuIslingr commented on #21
Error is gone. Dumping now. This bug seems to be fixed.

[2019-06-23 01:45] DarkMatterCore commented on #21
Thanks. I'm currently waiting for input from another user about a bug under FW 3.0.0 to push the changes. I'll close this issue as soon as that happens.

[2019-06-23 12:23] DarkMatterCore opened #26 "ncmContentStorageReadContentIdFile() fails with error 0x00017c05 under certain FW versions (gamecard only)."
Affects NSP/ExeFS/RomFS dumping. The user who reported this problem has a Switch console on 3.0.0. This seems to only affect gamecard NCA content retrieval.

Switchbrew states that this error occurs because the "gamecard is not initialized" (which, to be honest, got me perplexed).

I already tried a little bit of trickery, like reading a small data chunk from the gamecard using a IStorage instance

[2019-06-23 12:31] DarkMatterCore commented on #8
Two months have passed and I haven't received any other report about this problem.

If it ever happens again, please, feel free to reopen this issue.

[2019-06-23 12:31] #8 closed

[2019-06-23 12:39] Matt07211 commented on #26
I have encountered gamecard not initialized *once*, my switch had been asleep for a few days, woke it up and inserted a new switch card, and opened gcdumptool, it basically got stuck in a loop of the main screen with all the normal text and the line saying no game card inserted and a screen saying (if i remember correctly) please wait, it was looping so fast the text was alternating between the tw

[2019-06-23 13:41] DarkMatterCore commented on #26
@Matt07211 No, it doesn't look like the same bug. Judging by the way you describe it, it also looks like you used a previous release. Latest version includes parts of the initialization code rewritten.

The bug described here affects NSP/ExeFS/RomFS dumping at least under FW 3.0.0.

[2019-06-24 09:11] staringstar commented on #21
The Download link is not working again. Can you upload it another time please?

[2019-06-24 20:31] DarkMatterCore commented on #25
Fixed in 6d435a253293fcf49d386bcef654406e09a58360.

[2019-06-24 20:31] #25 closed

[2019-06-24 20:32] DarkMatterCore commented on #24
Fixed in 6d435a253293fcf49d386bcef654406e09a58360.

[2019-06-24 20:32] #24 closed

[2019-06-24 20:32] DarkMatterCore commented on #23
Fixed in 6d435a253293fcf49d386bcef654406e09a58360.

[2019-06-24 20:32] #23 closed

[2019-06-24 20:33] DarkMatterCore commented on #21
Fixed in 6d435a253293fcf49d386bcef654406e09a58360.

@staringstar Please check the new release.

[2019-06-24 20:34] #21 closed

[2019-06-24 21:27] schubkraft-media opened #27 "Dumping to external HDD?"
Thanks for this great tool! I‘m looking forward the batch-dumping. :)
Sadly my sd-card is really full. Is it possible to select a HDD as the destination for the dumps? I think this would be the best for backups. :)

[2019-06-24 21:57] DarkMatterCore commented on #27
This will be implemented as soon as compatibility with USB mass storage devices is integrated into open source CFWs.

[2019-06-29 15:49] SuperMario20 opened #28 "Splits data.arc into multiple files on exfat"
When I dump the romfs from Smash Ultimate it splits it into multiple files even though I have an exFat sd card and plenty of space. Also I can't use a split data.arc file for smash ultimate modding so it makes the data.arc file unusable.

[2019-06-29 16:47] DarkMatterCore commented on #28
This is basically a duplicate of issue #11. And yes, this is an expected behaviour.

There's no way to automatically tell if the SD card partition is exFAT or not without modifying the CFW or adding a custom KIP module, so the default action is to just split any big files extracted from HFS0/ExeFS/RomFS. FS services don't expose any kind of raw storage handle for rhe SD card.

Just use `copy /b da

[2019-06-29 16:47] #28 closed

[2019-07-02 17:32] ckurtz22 opened #29 "Dump from SD / eMMC soft locks (probably emuMMC bug?)"
When I try to choose the "Dump from SD / eMMC storage" option, the application just softlocks, showing "Please wait..." and then showing an error message about no applications found on SD / eMMC for 1 frame.

[2019-07-02 20:15] ckurtz22 commented on #29
Alright, went and looked into it more. `uiProcess()` (https://github.com/DarkMatterCore/nxdumptool/blob/master/source/ui.c#L1089) will always try to run `loadTitleInfo()`. This function will always run the "please wait" if there aren't any detected titles on the system (https://github.com/DarkMatterCore/nxdumptool/blob/master/source/util.c#L1078). Since my system isn't detecting any applications i

[2019-07-02 20:28] DarkMatterCore commented on #29
Thanks. I actually thought as much, but I'm far away from a PC atm.

I'll do a more clean patch when I get home. Title information buffers are freed when going back to the main menu, so using a static variable at that point might be troublesome if the user enters the menu again (assuming they do have installed titles).

[2019-07-02 20:31] DarkMatterCore commented on #29
@ckurtz22 By the way, does any status message appear at the bottom?

[2019-07-02 21:36] ckurtz22 commented on #29
Updated PR, fixes rest of the issue. Issue was with unmounted SD card, not with emuMMC

[2019-07-03 06:08] ckurtz22 opened #31 "Move nxdumptool sd folder?"
I feel like it would be more consistent with the rest of homebrew to move the nxdumptool folder from the root of the SD card into switch/. (Mostly just my OCD though :P )

[2019-07-03 10:35] DarkMatterCore commented on #31
I thought about this as well, but in the end I concluded it would just be better and simpler to leave dumped data out of the /switch directory, specially considering the application does deal with directory archive bits. Kinda like Goldleaf does, except for that last part.

[2019-07-17 11:59] DarkMatterCore commented on #29
Fixed in a051b17ad070bc2cbd748de2eb7e712cb2562602.

[2019-07-17 11:59] #29 closed

[2019-07-17 12:00] DarkMatterCore commented on #22
Fixed in a051b17ad070bc2cbd748de2eb7e712cb2562602.

[2019-07-17 12:00] #22 closed

[2019-08-01 12:32] Bakuryu opened #32 "Output part size used when splitting big files exceeds the max part size used by HOS in directories with the archive bit set."
Through tons of trouble shooting I have determined what seems like an issue with how your tool splits the data.arc file when its dumped. Using the latest version dumping the romfs with an update and then moving,renaming, and then archiving in a folder of the same name so it can be used on a fat32 sd card for modding does not work. However if you conjoin the parts and then re-split them using [spli

[2019-08-01 12:49] DarkMatterCore commented on #32
Well, it's not splitting incorrectly, per se - otherwise, you wouldn't be able to generate a full data.arc file by merging its parts, which is what the application aims to achieve anyway.

Currently, a different split file size is used for anything that's not a XCI nor a NSP. This includes files extracted from the RomFS section of a title.

Setting the split file size to the same one used for NSPs

[2019-08-03 21:32] DakotaPixel opened #33 "Failed to read header from Program NCA! (0x00000A05)"
I am getting this error when trying to make an ExeFS section dump of the Splatoon 5.0.0 update (v2621440). What am I doing wrong?

[2019-08-04 00:31] DarkMatterCore commented on #33
Please provide additional information about your current setup, including:

* FW version.
* CFW used.
* nxdumptool version.
* Source storage for the update (e.g. storage device where you installed the update).

A screenshot of the problem would be greatly appreciated as well.

[2019-08-04 00:36] DakotaPixel commented on #33
FW-8.1.0
CFW-Latest Kosmos through Latest hekate emuMMC
nxdumptool-latest (idk the version offhand but I downloaded it today)
Storage- sdcard
I can't get a screenshot rn, but I should be able to tomorrow

[2019-08-04 00:39] DarkMatterCore commented on #33
Thanks, I greatly appreciate it. I'll be waiting for it.

In the meantime, I'm going to prepare a test build with additional debug info.

[2019-08-04 18:24] DakotaPixel commented on #33
I redownloaded the update (a couple times) and messed with some of my setup and it finally worked, don't know exactly what the problem was but I guess it is fixed now

[2019-08-04 18:24] #33 closed

[2019-08-05 02:02] DarkMatterCore commented on #33
@DakotaPixel Glad to know you were able to sort it out on your own.

Nonetheless, would you please give me a more detailed explanation about what you did? If it isn't too much to ask, of course.

[2019-08-05 02:15] DakotaPixel commented on #33
No problem, I had no luck reinstalling the game update on my old emuMMC so I deleted and recreated the emuMMC, then redownloaded the Kosmos, Hekate and nxdumptool files. After that it just worked!

[2019-08-13 16:16] linktlh opened #34 "Stack memory exhaustion while dumping RomFS content from titles with a very high file entry count."
I was interested in this tool as it looks like it could be a good replacement to guiding users through the tedious process of hactool.

When dumping from a BOTW (NA v0.0.0 cart) + Update (1.6.0) it processes a large chunk of Actor/Pack folder (4,847 actorpacks of the 7,203)
The last file processed seems to be `Npc_oasis009.bactorpack` the file is not correctly dumped and that is when it appears to

[2019-08-13 18:03] DarkMatterCore commented on #34
Thanks for reporting this problem. I'll take a look at the logfile to try to pinpoint the crash location in the codebase.

If it isn't too much to ask, could you please provide with additional testing? Thanks in advance.

[2019-08-13 20:35] linktlh commented on #34
Further testing:
Attempting to dump JUST the Npc_oasis009.sbactorpack is impossible as it does not show up in `romfs/Actor/Pack/` folder which is extremely strange...
Afaik it's not a file added in an update, even so, I have include updates open checked.

Attempting to dump the entire `romfs/Actor/Pack` folder:
The switch does crash when dumping the entire directory. Looks to be the exact same spo

[2019-08-13 21:58] linktlh commented on #34
With some extra testing;
Dumping every directory except Actor (one by one):
Successful on the smaller folders, but crashed on every directory with more than 5k files.
(Actor, Model, and Terrain)
The only exception to this is Voice (7,562 files)

The consistency makes me want to say an overflow error, but since Voice didn't crash I'm not really sure.
Definitely a strange issue.

[2019-08-14 00:50] DarkMatterCore commented on #34
Please test again using the attached build, and provide new logs if possible. This one adds some small fixes and uses latest libnx.

[nxdumptool_test_20190813.zip](https://github.com/DarkMatterCore/nxdumptool/files/3499385/nxdumptool_test_20190813.zip)

[2019-08-14 00:54] DarkMatterCore commented on #34
@linktlh RomFS entries are read and displayed as-is, using their internal order. Directories are displayed first because they're stored in a different table.

The B button cancel mechanism needs to be improved. I'll look into it as well.

[2019-08-14 01:43] linktlh commented on #34
Ah, so it's just the way Nintendo sorts it. It's just fairly unique to see people sort by Ascii value instead of by Alphabet, Although, since that's how Nintendo does it, there'd be no real reason to change it. Theoretically speaking you'd want to dump all of the contents of the game for modding purposes anyways instead of searching for a specific file to edit.
Still, I love the idea that you can

[2019-08-14 06:16] DarkMatterCore commented on #34
Thanks for all your input in this matter. It's something that definitely needs more testing, though. I'm still trying to find the exact source of this problem.

Here's a new build with some more changes, including the improved cancel button mechanism - it should work by just holding down B for 2 seconds in any operation. Also, a message telling you to wait until the output directory is fully delet

[2019-08-14 12:09] linktlh commented on #34
Seems that github had a goof; That file is not available for download.

[2019-08-14 13:39] ninetalescommander commented on #34
I can confirm this is an issue not just for Zelda Breath of the Wild, it seems to be for any game that is large in size. I tried to dump Pokken Tournament DX and Monster Hunter Generations Ultimate and it still crashed and had to go into the ROMFS options directly and take things piece by piece.
I still think this program is the best out there for getting models but this issue is quite glaring.

[2019-08-14 15:44] DarkMatterCore commented on #34
@linktlh That's probably my Internet connection's fault, sorry. I have to go through a slow and tedious process just to upload a small file like that. I'll try to reupload the binary as soon as possible.

@ninetalescommander Thanks for reporting this. I have successfully tested this feature in the past with Super Mario Odyssey (owned) and Super Smash Bros. Ultimate (borrowed), as well as some smal

[2019-08-14 19:49] DarkMatterCore commented on #34
[nxdumptool_test_20190814.zip](https://github.com/DarkMatterCore/nxdumptool/files/3503060/nxdumptool_test_20190814.zip)

Please let me know if this one works.

[2019-08-14 20:29] linktlh commented on #34
Sadly same result. The B button does function as intended though! 👍

The log looks pretty much the same doubt it's helpful at this point but here ya go;
[01565813325_010000000000100d.log](https://github.com/DarkMatterCore/nxdumptool/files/3503170/01565813325_010000000000100d.log)

[2019-08-14 22:05] DarkMatterCore commented on #34
After an in-depth analysis of the stack trace from the crash log, this is the best I was able to come up with:

[code]

I'll have to perform additional tests to find out what's actually happening -  but so far, it seems like something funny is going on with FreeType.

[2019-08-16 01:12] DarkMatterCore commented on #34
After some additional tests, I was able to confirm that this bug is most likely related to stack memory exhaustion due to excesive usage of code recursion in RomFS-related functions.

A friend of mine owns the game and he has kindly helped me out by providing with private testing. My Internet connection has been worse than terrible these last few days, so I had to find another way to keep working

[2019-08-16 01:31] DarkMatterCore commented on #34
[nxdumptool_test_20190815.zip](https://github.com/DarkMatterCore/nxdumptool/files/3507703/nxdumptool_test_20190815.zip)

Here's it. Took me a while to get it uploaded.

@linktlh @ninetalescommander If it isn't too much to ask, could you guys please test this build with the games you mentioned before? I wanna know if the issue is gone for good.

Thanks in advance.

[2019-08-16 21:28] linktlh commented on #34
Success! 🎉
I'll wait on @ninetalescommander before closing the issue. However, it appears to be resolved in that build.

Only thing I noticed was how slow it is; although I'm doubting there's much you can really do about that. took about 1.5 hours to dump the 14gib BOTW romfs. The upside is it's much easier than teaching someone how to use CLI, and hactool.

[2019-08-16 22:13] DarkMatterCore commented on #34
@linktlh Thanks! Glad to know it. And don't worry, I'll take care of closing this issue as soon as I push the changes - nonetheless, I'll also wait until @ninetalescommander tests the latest build.

Sadly, there's not much I can do about the transfer speed. Consider that the application has to deal with manually decrypting RomFS data blocks from the Program NCA, and the process can take a bit more

[2019-08-16 22:30] linktlh commented on #34
Glad after much trial and error it seems to have gotten resolved :D
Ninetales successfully dumped Monster Hunters Gen ultimate and Pokken Tournament.

I'm gonna go ahead and run a hasher on all of the files just to confirm nothing went wrong; but there seems to be the correct amount of files in the botw full romfs dump.

[2019-08-17 01:20] ninetalescommander commented on #34
Finished dumping Pokken Tournament DX, Monster Hunter Generations Ultimate, and Zelda Breath of the Wild with no issues.
Thanks for the fix!

[2019-08-17 01:54] DarkMatterCore commented on #34
Nah, thank **you** for noticing this problem and creating the issue. You're the real heroes. Otherwise, I wouldn't have noticed it! :smile:

Time for a bugfix release.

[2019-08-17 02:14] DarkMatterCore commented on #34
Fixed in ed45a863faa0524d9701dc6a87bc1f51209430eb.

[2019-08-17 02:14] #34 closed

[2019-08-17 02:16] DarkMatterCore commented on #32
Fixed in ed45a863faa0524d9701dc6a87bc1f51209430eb.

[2019-08-17 02:16] #32 closed

[2019-08-17 09:38] fantasticlain123 opened #35 "Error while dumping Gamecard NSP on latest version"
Hi everyone,
So I was having some issues with previous nxdumptool version (splitted nsp stuff)
and i downloaded the latest one 1.1.4 hoping it would fix some issues. But with the latest version, when i try to dump a cartidge to nsp either atmosphrere crashes or "the software was closed because an error occured". XCI dump works though.
Switch:
FW 8.1.0 using emummc 8.1.0
Hope it gets fixed

[2019-08-17 09:43] fantasticlain123 commented on #35
tested cartidges
botw, mario maker 2(both crash)
it seems that is fails in retrieving info from encrypted nca content files
also when atmosphere crashes(sometimes)(atmos version 0.9.3) the error code is 2168-0002

[2019-08-17 10:03] uaevuon opened #36 "Add support for Korean characters."
![2019081718595700-BB0DD26446ABE2AC6200AA71EDDFE6EF](https://user-images.githubusercontent.com/3542715/63209881-7b67ea00-c121-11e9-84ab-66f904194a95.jpg)
![2019081719005500-BB0DD26446ABE2AC6200AA71EDDFE6EF](https://user-images.githubusercontent.com/3542715/63209882-7c008080-c121-11e9-90c3-ec0f9676a5a2.jpg)

Japanses fonts in emmc dump are OK, but Korean fonts in gamecard dump menu are crashing.

[2019-08-17 10:51] DarkMatterCore commented on #36
Boy, for a second there you made me thought I'd have to deal with some kind of segmentation fault. I feel much relieved now.

The fonts themselves are not "crashing". The current TrueType fonts used are not compatible with Korean characters - this was an overlook on my behalf.

I'll look into it.

[2019-08-17 10:54] DarkMatterCore commented on #35
Already reproduced and fixed. This is a segmentation fault produced by a change I forgot to revert while I was testing some stuff to fix issue #34. It's really a single line change.

Thanks for letting me know. I'll reupload the release.

[2019-08-17 11:15] DarkMatterCore commented on #35
Fixed in 0dbe1264267308ee097b396f99ae00236e5b0089.

Please re-download the nxdumptool binary from the Releases tab.

[2019-08-17 11:15] #35 closed

[2019-08-17 11:22] DarkMatterCore commented on #35
@fantasticlain123 Feel free to open up another issue to explain the problems you were having with splitted NSPs.

[2019-08-19 02:47] DarkMatterCore commented on #36
@uaevuon Hi there. Please test the attached build, it should be fixed now.

[nxdumptool_test_20190818.zip](https://github.com/DarkMatterCore/nxdumptool/files/3513995/nxdumptool_test_20190818.zip)

[2019-08-19 02:51] uaevuon commented on #36
not found

[2019-08-19 04:08] DarkMatterCore commented on #36
@uaevuon Sorry. The same thing happened a couple of days ago while dealing with another issue. My Internet connection is really bad.

Please try again.

[nxdumptool_test_20190818.zip](https://github.com/DarkMatterCore/nxdumptool/files/3514146/nxdumptool_test_20190818.zip)

[2019-08-19 07:19] uaevuon commented on #36
It shows korean properly.
Great.

[2019-08-19 07:22] DarkMatterCore commented on #36
Great! Thank you for reporting this issue in the first place. I'll close it as soon as I push the changes.

[2019-08-19 07:28] DarkMatterCore opened #37 "Add support for browsing/dumping RomFS sections in Data NCAs from DLCs."
Yeah, we should also support these ones.

[2019-09-15 02:52] DarkMatterCore commented on #37
Fixed in ba6b483cb690bccd1a43b87734683e7c1c54d8c2.

[2019-09-15 02:52] #37 closed

[2019-09-15 02:53] DarkMatterCore commented on #36
Fixed in ba6b483cb690bccd1a43b87734683e7c1c54d8c2.

[2019-09-15 02:53] #36 closed

[2019-09-15 02:54] DarkMatterCore commented on #31
Fixed in ba6b483cb690bccd1a43b87734683e7c1c54d8c2.

[2019-09-15 02:54] #31 closed

[2019-09-15 03:02] DarkMatterCore opened #38 "Support patching flags inside Control.nacp while generating NSPs from base applications / updates."
I'm still thinking about this one. The groundwork to add this feature is already done, technically.

It could be used, for example, to patch the `StartupUserAccount` flag inside Control.nacp to remove the need to link an user account in certain games. There could be other use cases as well.

I'll leave this issue open for a while. Please share your opinions on this matter.

[2019-10-01 16:41] Zet-sensei opened #39 "RomFS block collision check code: edge case not being properly handled."
I'm trying to dump some games & updates from a 8.1.0 EUR Switch console - for backup and future preservation researches.

Everything went fine on all the games apart for 3 of them.

- Spice & Wolf VR (0100C9B00EAEE000)
- Geki J Pachisuro Hana Hana Matsuri! TOP5 Seizoroi SP / 激Jパチスロ ハナハナ祭り！TOP5勢ぞろいSP (0100FB500D8F8000)
- Soulslayer (010088E00EBB6000)

They can't be backup'ed with NXDumpTool 1.1.5.

[2019-10-01 17:22] DarkMatterCore commented on #39
Thanks for reporting this problem. I'll gladly look into it.

The RomFS browse/dump feature isn't exactly related to this particular error, because it deals with the Program NCA. On the other hand, the RomFS error you're getting it's actually related to the NACP/LegalInfo XML extraction procedure - both files get appended to the output NSP dump.

Please test the provided build in the meantime. It

[2019-10-01 19:00] Zet-sensei commented on #39
[code]

[2019-10-01 19:10] DarkMatterCore commented on #39
Thanks. It was indeed a bug in the RomFS block collision check code. The RomFS section from the Control/LegalInfo NCAs in these games fall under edge cases that were not being properly handled. Please test the attached build.

[nxdumptool_test2_20191001.zip](https://github.com/DarkMatterCore/nxdumptool/files/3678085/nxdumptool_test2_20191001.zip)

[2019-10-01 19:44] Zet-sensei commented on #39
Works perfectly now.

Great job for fixing the problem very quickly.

Thanks.

[2019-10-01 19:44] Zet-sensei commented on #39
Works perfectly now.

Great job for fixing the problem very quickly.

Thanks.

[2019-10-01 19:48] DarkMatterCore commented on #39
Thank **you** for reporting the issue! You're the real lifesaver.

I'll reopen the issue and keep it like that until I release the next version.

[2019-10-10 06:41] fennectech opened #40 "Manually exclude titles from the batch dump process + sequential dump support (à la Hekate) + batch dump overrides"
I recomend determining what to dump by parsing a file instaid of files on the disk to determine what titles need to be dumped.  This will allow multi part dumping (if you dont have a sdcard big enough to store all your dumps at once.

[2019-10-10 11:03] DarkMatterCore commented on #40
I suppose you're referring to the batch dumping mode?

I guess a better approach to this would be adding "checkboxes" to the confirmation screen  list. I don't really like to make the process depend on additional files in the SD card.

If this isn't what you mean, please do tell me. I just got up, so I beg your pardon.

[2019-10-10 17:51] fennectech commented on #40
my idea is to create a file contining the names of each game we sucessfuly dump   Alot like hekates backup process   my reasoning for this is so that we can pause in the middle of a dump when the disk is full   offload the content and resume after removing the files

[2019-10-10 19:27] DarkMatterCore commented on #40
I like the idea of using a file to keep track of the already dumped parts for any given dump. Should be easy to implement for XCI dumps, but NSP dumps will require some code changes because of the way they're currently generated (PFS0 header is filled after all the NCAs have been written).

I still believe adding checkboxes to the summary list in the batch dump mode (before starting the process) i

[2019-10-10 19:51] fennectech commented on #40
why not just use the filename ultimately written to the disk

[2019-10-10 21:58] DarkMatterCore commented on #40
Sure, something like that can be used to keep track of the dumped parts. I was even thinking about creating an extra file with only the PFS0 header data, but a program/script would have to be created to properly merge everything into a single NSP file in a PC. Shouldn't be difficult, though.

I'll try to prepare a test version with checkboxes + sequential dump support (using the 0 byte file "check

[2019-10-10 22:26] fennectech commented on #40
Awesome.  Also. Ince its recomended we use fat32 it think it should default to use fat32 splitting (or only use fat32 splitting if it is indeed a fat32 filesystem.

[2019-10-11 02:51] DarkMatterCore commented on #40
FAT32 support was originally enabled by default, but people began to complain about it. That's why it was disabled a lot of versions ago.

Toggles for the summary list displayed in the batch mode menu are now ready in my latest internal build. I'll work on the sequential dump support tomorrow.

<details>
 <summary>Sample screenshots</summary>

 ![demo1](https://i.imgur.com/gHbdWmE.jpg)
 ![demo2](h

[2019-10-12 08:41] uaevuon commented on #36
It shows title properly before dumping.
![2019101217193400-DA63280140B1530CD17755515D814CFE](https://user-images.githubusercontent.com/3542715/66698053-ba777d80-ed15-11e9-86c0-32c8c98856b7.jpg)
But it cannot show after dumping.
![2019101217201800-DA63280140B1530CD17755515D814CFE](https://user-images.githubusercontent.com/3542715/66698062-c6633f80-ed15-11e9-9a1b-488128515a33.jpg)
![주석 2019-10-12 17

[2019-10-12 12:39] DarkMatterCore commented on #36
@uaevuon It is indeed a limitation of the Switch's filesystem services. That's also the reason why many other homebrew applications can't deal with files with names that use characters outside of the 0x20 - 0x7F (ASCII) scope.

There isn't much I can do about it, sadly. But I'll see what I can do.

[2019-10-16 19:48] Zet-sensei opened #41 "Unable to allocate memory for full decompressed NSO in program NCA"
I tried to dump the 1.0.10 version of the Mortal Kombat 11 update -for future preservation purposes- but failed to be able to proceed on backuping the files as wanted.

![2019101516352700-DB1426D1DFD034027CECDE9C2DD914B8](https://user-images.githubusercontent.com/52127625/66953282-7a3e3500-f05e-11e9-8e87-33e624acee2c.jpg)

[2019-10-16 21:15] DarkMatterCore commented on #41
@Zet-sensei Thanks for reporting this. Are you using title overriding to launch the application? Or are you using the Album applet?

[2019-10-16 21:34] Zet-sensei commented on #41
Album applet (Homebrew Menu).

[2019-10-16 22:04] DarkMatterCore commented on #41
Please try launching the application using title overriding. I want to check if the problem can still be reproduced that way.

[2019-10-17 11:03] Zet-sensei commented on #41
I have a problem with title overriding and full RAM access with SX OS 2.9.2 at the moment (bug known in their current beta OS).
So I can't test any further with that configuration.

I will test on a second Switch with AMS next week.

[2019-10-17 19:22] fennectech commented on #41
Can you try in album under AMS as well.

[2019-10-17 20:30] DarkMatterCore commented on #40
Fixed in 4d44e315be948fafd924f861926dc4fa5657035f.

[2019-10-17 20:30] #40 closed

[2019-10-17 20:31] DarkMatterCore commented on #39
Fixed in 4d44e315be948fafd924f861926dc4fa5657035f.

[2019-10-17 20:31] #39 closed

[2019-10-25 17:37] DarkMatterCore commented on #41
@Zet-sensei Were you able to do any additional tests?

[2019-10-28 09:09] Zet-sensei commented on #41
I will need some more days for doing my tests.
Several urgent family cases have required my full attention since the passing week until now.

[2019-10-29 02:54] DarkMatterCore commented on #41
@Zet-sensei Don't worry, I know how that feels. Please take all the time you need to solve those matters.

[2019-10-29 12:10] Eonasdan opened #42 "Please Wait error flash"
nxdumptool: 1.1.6
switch: 9.0.1
hekate: 5.0.2
sd card: [Samsung 128GB 100MB/s (U3) MicroSDXC Evo Select](https://www.amazon.com/gp/product/B06XWZWYVP/)

Using the tool on BotW cartridge it shows "Please Wait" for a few seconds and then flashes an error and goes back to please wait. I saw something about sd card but could make out the full error.

Sorry for the blurriness. I had to take a video wit

[2019-10-29 12:35] DarkMatterCore commented on #42
Please submit more information about your current setup (source storage for the game, SD card specs, etc.). I know it may be hard, but please try to screenshot the exact error as well.

[2019-10-29 13:11] Eonasdan commented on #42
Updated my original post. Aside: you might want to look at creating [issue templates](https://help.github.com/en/github/building-a-strong-community/configuring-issue-templates-for-your-repository) with the information you're hoping to see

[2019-10-29 13:47] DarkMatterCore commented on #42
Thanks. I will look into that.

The error is, at best, strange. Like, really strange. Are you using an emuMMC? Is your emuMMC version greater than your sysMMC version? Are you using `nogc` spoofing?

[2019-10-29 14:11] Eonasdan commented on #42
I'm not use emuMMC. Just sfw sysnand.

I'm using `Atmosphère 0.9.4` which by default sounds like it has the ngc on. I tried to set it to 0 in the ini file.

I do get an message "The game card could not be read" from switch but I was assuming that was switch just whining about homebrew. I can't actually play the cart games at the moment, which is why I wanted to dump them and install directly. Sorr

[2019-10-29 14:19] DarkMatterCore commented on #42
In the meantime, here's a test build that should fix the flickering UI error, as well as properly display a more detailed status message at the bottom.

[nxdumptool_20191029_t1.zip](https://github.com/DarkMatterCore/nxdumptool/files/3783964/nxdumptool_20191029_t1.zip)

[2019-10-29 14:23] DarkMatterCore commented on #42
@Eonasdan Don't worry, it's OK. We all forget things and make mistakes. I'm just happy you took your time to open an issue. :)

Please feel free to test again with `nogc` spoofing turned off. It completely disables all I/O from the gamecard ASIC controller, and there's no way to tell if that's being used from a homebrew application.

If it doesn't work, please test the build from my previous comme

[2019-10-29 15:02] Eonasdan commented on #42
I disabled auto nogc from the hekate options menu. The cart error went away. I'm testing a dump of botw now.

[2019-10-29 15:05] DarkMatterCore commented on #42
Excellent, thanks for letting me know. The flickering UI fix and a warning about `nogc` spoofing are already part of the changes for the next version.

[2019-10-29 15:09] Eonasdan commented on #42
The dump was successful. Goldleaf failed to install the nsp but I probably didn't do it right. Either way, I've found the solution to playing from the carts and I'll have to try the dump again later.

Thanks for the help

[2019-10-29 15:09] #42 closed

[2019-10-29 15:15] DarkMatterCore commented on #42
@Eonasdan Since you're using Hekate, make sure to use [Joonie86's patchset](https://github.com/Joonie86/hekate/releases) as well. It is necessary for gamecard -> NSP conversions.

[2019-11-01 11:13] Zet-sensei commented on #41
Works on AMS 0.9.4 with full RAM access activated and title override.

Done a new test with SX PRO 2.9.2 Stable (with title override) --> only touch screen is working on that mode with SX PRO (bug on their side).
Works and the update is currently dumping perfectly.

For dumping some massive updates (NBA2K19, NBA2K20, MK11), it is necessary to use the full RAM access mode & title override with the

[2019-11-01 11:48] DarkMatterCore commented on #41
Thanks for reporting back! I'll add a note about that in the readme.

[2019-11-09 11:41] snes878 opened #44 "Unable to generate output dump name for orphan content when no base applications are installed."
**Describe the bug**
I have a designated Switch as my “ripping” Switch; its only current purpose is to rip gamecards, updates, and DLC.  So not (currently) for playing and not for installing games onto.

Cannot dump updates/DLC.

On 9.0.1, AMS 0.9.4, nxdumptool 1.1.7 - run under Applet mode and run under Title mode.

**To Reproduce**
1. Have no games installed to NAND or SD card - only updates and

[2019-11-09 13:44] DarkMatterCore commented on #44
Hi there. It's a pleasure to meet you.

Thank you very for much for reporting this issue. Please try the attached test build - it should fix the problem.

[nxdumptool_20191109_t1.zip](https://github.com/DarkMatterCore/nxdumptool/files/3827350/nxdumptool_20191109_t1.zip)

If it does work, please leave the issue open. I will close this issue after the next version is released.

[2019-11-09 14:36] snes878 commented on #44
Hi, nice to meet you as well.

That totally solves the problem.   Thanks so much for such a quick fix.

[2019-11-09 14:40] DarkMatterCore commented on #44
Thank you for reporting this problem in the first place. :)

The fix will be included in the next release.

[2019-11-11 18:43] snes878 opened #45 "Update ticket retrieval from Secure HFS0 partition fails during NSP creation."
**Describe the bug**
While trying to dump a bundled update (possibly DLC as well, but I can't remember/reproduce that currently), met with the error "invalid parameters to retrieve file from HFS0 partition!"

**To Reproduce**
1.  NSP Dump -> Dump bundled update NSP -> all options 'Yes' -> Start NSP dump process
2. Examples of gamecards that present the issue: Sonic Mania Plus, Wasteland 2 Director

[2019-11-11 19:09] DarkMatterCore commented on #45
Hi there. Thanks for reporting this issue.

Granted, it's an easy fix. This is a bug introduced in v1.1.7 after I refactored the content record retrieval code. Please test the attached build.

[nxdumptool_20191111_t1.zip](https://github.com/DarkMatterCore/nxdumptool/files/3832852/nxdumptool_20191111_t1.zip)

[2019-11-11 20:57] snes878 commented on #45
That solved it - thanks again!

[2019-11-11 21:38] DarkMatterCore commented on #45
@snes878 Thank you for reporting these problems in the first place!

[2019-11-15 19:09] DarkMatterCore commented on #26
My latest (uncommited) changes to the codebase will make it far easier to dump gamecard NCAs through FS instead of NCM. Needs some testing, though, but I expect to fix this problem soon.

[2019-11-24 17:32] potchy opened #46 "ES certificate retrieval procedure fails if there's no personalized ticket certificate."
**Describe the bug**
I get this "Unable to find FS index from key" error whenever I try to dump my already installed games.
It only happens on 1.1.7. Version 1.1.6 seems to work fine. The procedure isn't finished yet, but it's at 3/108 at the moment.

**To Reproduce**
Steps to reproduce the behavior:
1. Dump SD card / eMMC (NANDUSER) content
2. Press X to enter batch mode
3. Start batch dump proce

[2019-11-24 18:13] DarkMatterCore commented on #46
It's a known problem that has been fixed already in test builds. This only occurs if you haven't downloaded/bought anything from the eShop.

[2019-11-24 19:49] DarkMatterCore commented on #46
In the meantime, feel free to try the latest test build.

[nxdumptool_20191124_t1.zip](https://github.com/DarkMatterCore/nxdumptool/files/3884056/nxdumptool_20191124_t1.zip)

[2019-12-02 03:02] sttng commented on #11
Wouldn't it help to look into Hekate and check how it does Fat32 / ExFat handling (https://github.com/CTCaer/hekate/tree/master/bootloader/libs/fatfs)

[2019-12-02 03:18] DarkMatterCore commented on #11
@sttng Nope, it wouldn't. Hekate has full hardware access because it runs on a pretty early boot stage, so it offers features that simply can't be done while running under a homebrew context.

CFWs need to be modified to provide some sort of custom IPC call that simply reports the SD card partition type that was detected while booting.

[2019-12-03 02:19] sttng commented on #11
Why not keep track of how many bytes are written, and in case there is an error at 4 GiB, catch that error and start split - in case of no error at 4 GiB just continue writing ? There may be a rare case of split because of an actual sector problem at exactly 4 GiB while being on exfat I guess (also triggering a 'false' write error). But that should be rather low.

[2019-12-08 17:23] DarkMatterCore commented on #11
@sttng Technically, the error is already being catched, but nothing more than displaying a message that suggests the user to enable the FAT32 option is being done at the moment.

If I have enough free time, I'll try to look into that.

[2019-12-11 09:01] DarkMatterCore commented on #46
Fixed in 5445d360d188c2c33935ba9c02f47acdfa902590.

[2019-12-11 09:01] #46 closed

[2019-12-11 09:02] DarkMatterCore commented on #45
Fixed in 5445d360d188c2c33935ba9c02f47acdfa902590.

[2019-12-11 09:02] #45 closed

[2019-12-11 09:02] DarkMatterCore commented on #44
Fixed in 5445d360d188c2c33935ba9c02f47acdfa902590.

[2019-12-11 09:02] #44 closed

[2019-12-11 09:03] DarkMatterCore commented on #26
Fixed in 5445d360d188c2c33935ba9c02f47acdfa902590.

[2019-12-11 09:03] #26 closed

[2019-12-11 09:04] DarkMatterCore commented on #9
Since PegaScape has pretty much become mainstream at this point, I don't believe it will be necessary to fix this. Just use it to reboot the console into a full fledged CFW if you wish to use the application.

[2019-12-11 09:05] #9 closed

[2019-12-14 14:58] Zet-sensei opened #47 "Titlekey decryption failure with installed CDNSP dump."
**Describe the bug**
Invalid magic word for Program NCA section #0 PSF0 partition! Wrong KAEK ? (0xE2603D03)

**Screenshots**
![2019120817592900](https://user-images.githubusercontent.com/52127625/70850392-fb148400-1e89-11ea-8133-0b9581ea859b.jpg)

**Please complete the following information:**
- Horizon OS (Switch FW) version: 9.1.0 emuNAND
- CFW: SX OS
- CFW version: 2.9.3
- NXDumpTool version:

[2019-12-14 15:06] DarkMatterCore commented on #47
Please try running the v1.1.8 stable release (which is more recent than the one you're using) and report back.

[2019-12-14 17:01] Zet-sensei commented on #47
Same problem.

I took the screenshot and saw the problem on the previous dev one just before you released the stable 1.18 version, but the problem remains even on the stable one.
That's why I'm reporting the problem now.

[2019-12-15 19:25] DarkMatterCore commented on #47
Feel free to send me a messsage through Discord. It'll be easier for both of us to track down the problem that way.

My handle is `DarkMatterCore#4814`.

[2019-12-18 03:19] DarkMatterCore commented on #47
Status update: the Earthworms installation actually comes from a CDNSP dump with a forged common ticket. Even though the plaintext encrypted titlekey can be retrieved without any problems, the decrypted titlekey doesn't work.

Even more so, according to the Earthworms dump from another user, the plaintext encrypted titlekey doesn't match.

More tests will be performed after the holidays. Happy new

[2019-12-19 01:26] TechGeekGamer opened #48 "Unable to dump games on non-primary console"
**Describe the bug**
When trying to dump games on a secondary console, it would give an error

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `Dump installed SD card / eMMC content`
2. Click on `Any of the games downloaded from the eShop`
3. Click on `Nintendo Submission Package (NSP) dump`
4. Click on `Dump base application` (if updates are installed)
5. Click on `Start NSP dump proce

[2019-12-19 01:28] DanielC-08 commented on #48
![38AE1DDC-CB0A-4649-8A6B-4664B52D3A6C](https://user-images.githubusercontent.com/46201432/71137086-cec77300-21bb-11ea-97e5-d33efe816d99.jpeg)

[2019-12-19 02:14] DanielC-08 commented on #5
Why not just do reboot to payload?

[2019-12-19 02:35] DarkMatterCore commented on #5
@DanielC-08 It's out of the question. In the end, it's faster to just take out the gamecard and reinsert it. A proper fix would be preferred.

[2019-12-21 09:01] DanielC-08 commented on #48
Testing 12/21/2019 12:50PM PST: When switching primary console to secondary and vice versa the now secondary console has the same error.

[2020-01-08 11:45] failsafe42 opened #49 "Can't dump games from SD/eMMC"
**Describe the bug**
Can't dump installed games. prod.keys exists and is not empty but I get an error trying to dump the games: "loadExternalKeys: unable to parse necessary keys from 'sdmc:/switch/prod.keys'! (keys file empty?)"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Dump installed SD card / eMMC content'
2. Click on a game
3. Click dump
4. Click start
5. See error

---------

[2020-01-08 12:10] DarkMatterCore commented on #49
Which method did you use to generated the prod.keys file? You can't just copypaste a keys file from the Internet, just in case.

[2020-01-08 12:11] failsafe42 commented on #49
I used lockpick

[2020-01-08 12:13] DarkMatterCore commented on #49
The homebrew NRO that can be launched from hbloader? Or the payload version that's launched via RCM?

You shouls use the second one.

[2020-01-08 12:23] failsafe42 commented on #49
It seems that was the problem. I was using the nro version. I dumped them with the rcm payload and it works.

[2020-01-08 12:25] DarkMatterCore commented on #49
Glad to know it. :)

I'll close this issue, in that case. Feel free to create a new one if you run into a different problem.

[2020-01-08 12:25] #49 closed

[2020-01-08 13:10] failsafe42 commented on #49
When I try to install the nsp that I dumped it doesn't start. It just says "Checking if the software can be played...". Any Ideas?

[2020-01-08 13:20] DarkMatterCore commented on #49
I suppose you installed your dump to another console. Are you using ES/FS patches on it?

[2020-01-08 13:22] failsafe42 commented on #49
Trying to install it to another emummc and I do have the patches.

[2020-01-08 13:40] failsafe42 commented on #49
Removed console specific data and now it works. Now I have to ask: how come goldleaf can't do that?

[2020-01-08 13:43] DarkMatterCore commented on #49
Goldleaf does what it is supposed to do: install the contents from any NSPs it is provided with.

This kind of modifications are usually done when the NSP is created.

[2020-01-08 13:44] failsafe42 commented on #49
I meant that goldleaf has the ability to dump games, so why can't it remove console specific data while doing that?

[2020-01-08 13:47] DarkMatterCore commented on #49
It *could* do it, but it's not a dump-oriented tool like this one, so it doesn't offer as many options. It's natural.

[2020-01-27 13:17] NickHatBoecker opened #52 "Dump from SD: Games missing from SysNAND"
Hey guys,

I have SysNAND and EmuNAND.
On EmuNAND I have the CFW (SX OS) with nxdumptool.

When I choose to "dump installed SD card / eMMC content" I only get the games I installed on emuNAND, but I want to dump a game update of graveyard keeper, which I bought in the eshop on sysNAND.

So I want to copy the update from sysNAND to emuNAND. Is this possible with nxdumptool?

Thanks in advance and b

[2020-01-27 13:20] DarkMatterCore commented on #52
Hi there. Nice to meet you.

Sadly, emuMMC redirection makes all sysMMC access impossible. If you wish to use this or any other apps capable of reading eMMC data with your sysMMC, you must run a CFW on your sysMMC.

It's not somethinf that can (nor will) be fixed.

[2020-01-27 13:23] #52 closed

[2020-02-03 16:22] ElderMuskrat opened #53 ""Invalid NCA header decryption parameters" error with games installed with Gamecard Installer NX."
When I attempt to dump base application NSP for Pokemon Sword I get the following:

decryptNcaHeader: invalid NCA header decryption parameters!

However I have had no issue dumping the update file.

[2020-02-04 14:03] DarkMatterCore commented on #48
The application is being rewritten from scratch using a temporary private repository to improve things such as code quality, code maintenance and code readability.

Bug reports and feature requests will remain open to keep track of what's missing as hopefully add them to the new codebase.

[2020-02-04 14:05] DarkMatterCore commented on #53
The application is being rewritten from scratch using a temporary private repository to improve things such as code quality, code maintenance and code readability.

Bug reports and feature requests will remain open to keep track of what's missing as hopefully add them to the new codebase.

@ElderMuskrat I can try to fix this specific error by creating a small build if you help me test it. Feel fre

[2020-02-04 14:05] DarkMatterCore commented on #47
The application is being rewritten from scratch using a temporary private repository to improve things such as code quality, code maintenance and code readability.

Bug reports and feature requests will remain open to keep track of what's missing as hopefully add them to the new codebase.

[2020-02-06 05:12] TechGeekGamer commented on #48
Workaround: Switch console to primary, dump keys using Lockpick_RCM, (if you still want to) switch back to non-primary console.

[2020-02-17 18:35] DarkMatterCore commented on #27
Just an update on this matter: I have been actively contributing in the development of [fsp-usb](https://github.com/XorTroll/fsp-usb) to make this a reality.

Test builds of nxdumptool with preliminary USB mass storage device support have already been created, displaying very good results.

The SCSI driver still needs to be improved, though, so this feature won't be a part of official nxdumptool r

[2020-02-29 23:25] DarkMatterCore commented on #53
@ElderMuskrat I still intend to make a bugfix release to correct this and some other small problems, so the userbase doesn't have to wait until I finish my rewrite.

Please let me know if you can help me out debug this problem.

[2020-03-17 03:57] larchiviste commented on #53
I'm getting the same error when dumping games installed via Gamecard Installer by TotalJustice. That's the only instance I've gotten this error so far.

[2020-03-17 04:13] DarkMatterCore commented on #53
@ElderMuskrat @larchiviste

The CNMT NCA handling code in Gamecard Installer NX needed some changes. @ITotalJustice has already found the bug and fixed it - he will probably release the new version sometime in the future.

![Imgur](https://i.imgur.com/n3vu6DJ.png)

Basically, the error is triggered because the CNMT NCA from games installed using Gamecard Installer NX is missing / corrupt / inexist

[2020-03-17 04:14] #53 closed

[2020-03-26 01:58] StiraGHB opened #54 "Suggestion: Use distinct file names for XCI dumps with/without cert and NSP dumps with/without ticket or changed/unchanged RSA sig."
Hello,

I want to suggest a small change to functionality that would help a lot with file organization. As someone who does multiple dumps with the different settings in the app, I think having different file names for different XCI and NSP dumps would help a lot.

For example: Mario Kart 8 Deluxe v327680 (0100152000022000) (with Cert).xci
Mario Kart 8 Deluxe v327680 (0100152000022800) (UPD, uncha

[2020-03-26 02:27] DarkMatterCore commented on #54
Hi there. Right now I'm working on the application rewrite - in the meantime, I expect to release a new version to address some bugs that have been reported since December in the next few days.

This will surely be a feature in the application rewrite.

[2020-04-05 20:01] Ghostk0 opened #55 "A configurable option is also available to remove console specific data from dumped tickets."
Hello, I would like to understand what this option corresponds to "A configurable option is also available to remove console specific data from dumped tickets." ?
Is information from my consoles kept in the XCI / NSP file that I dump?

[2020-04-06 02:27] DarkMatterCore commented on #55
@Ghostk0 Hi there, nice to meet you.

Gamecards don't hold any kind of console-specific data, so all XCI/NSP dumps generated from one are entirely clean.

NSP dumps from installed digital titles, on the other hand, *do* hold contain console-specific data in their tickets. However, if you choose to enable the "Remove console specific data" option, this data will be completely wiped.

[2020-04-06 07:41] Ghostk0 commented on #55
Hello DarkMatterCore,

Ok I understood what it is.
I thank you.

[2020-04-06 07:41] #55 closed

[2020-04-17 23:29] snes878 opened #56 "ES savefile processing crashes under 10.0.0."
**Describe the bug**
If I try to dump update v196608 (0.0.3.0) for the Amnesia: Collection as an NSP, the interface hangs at “Retrieving information from encrypted NCA content files...”   And then NXDumpTool crashes.   Sometimes Atmosphere crashes.

**Edit:**  I should preface by saying that this is regarding a genuine eShop copy of the game.

**To Reproduce**
Steps to reproduce the behavior:
1. S

[2020-04-18 01:24] DarkMatterCore commented on #56
@snes878 Hi there, mate. Thanks for reporting this issue.

Could you please provide an Atmosphère crash report? It would be very helpful to pinpoint the exact source of the problem in the codebase.

[2020-04-18 02:09] snes878 commented on #56
Hi - thanks for the quick reply.  I can’t get it to display an Atmosphere error message during title mode, but I can reproduce it on applet mode if I try to press Home to get out, and then try to go back into the album.

![2020041721001100-EA167CCACA37E364FF7957C68F12AA0E](https://user-images.githubusercontent.com/57560425/79625593-9b580f00-80ef-11ea-9d2b-568eafc7ecbb.jpg)

![146D3AB7-1580-4103-AD

[2020-04-18 02:13] snes878 commented on #56
Looks like the same issue when trying to dump the latest Cuphead title update, too.

[2020-04-18 02:20] DarkMatterCore commented on #56
Crash reports are automatically generated by Atmosphère and saved to the `/atmosphere/crash_reports/` directory.

[2020-04-18 02:29] snes878 commented on #56
Here’s a c/p of my most recent one:

Atmosphère Crash Report (v1.5):
Result:                          0x4A8 (2168-0002)

Process Info:
    Process Name:                hbloader
    Program ID:                  0100701001d92000
    Process ID:                  0000000000000085
    Process Flags:               00000073
    User Exception Address:      0000000018f98000
Exception Info:
    Type:

[2020-04-18 03:02] DarkMatterCore commented on #56
@snes878 Thanks, that really helped me out. Please test the attached build and let me know how it goes.

[nxdumptool_20200417_t1.zip](https://github.com/DarkMatterCore/nxdumptool/files/4495949/nxdumptool_20200417_t1.zip)

[2020-04-18 10:58] pcwizard7 commented on #48
on secondary consoles, the games don't store the titlekey for the game which is why it checks online before it boots

[2020-04-18 12:45] snes878 commented on #56
I don't have time this weekend to thoroughly test it out - but so far, it seems like you fixed it.  Thanks again for such a quick turn around time!   =D

[2020-04-18 16:13] DarkMatterCore commented on #56
@snes878 Thanks for confirming the crash has been fixed. :)

I'll close this issue as soon as the new version is released.

[2020-04-19 03:16] DarkMatterCore commented on #56
The test build was confirmed to be working without any issues by other users.

Fixed in ff3141f5d6e2a5cbb59e1e8815f03fe0e160e89f.

[2020-04-19 03:16] #56 closed

[2020-04-28 06:25] Corgano opened #57 "Add Batch dump control to list above items"
I knew this supported batch dumping, but for the life of me I couldn't figure out how to do it. I eventually found mention of it on issue #22. Above the menu is a bunch of information, as well as a bit that says "A to select, B to cancel, [d pad symbol] to move selection, etc etc" But it does not say "X to enter batch mode" ANYWHERE in the app itself. This should be added!

[2020-04-28 06:26] Corgano opened #58 "[Feature request] Batch dump to PC"
Opposite of installing to PC, have it batch dump to PC. In effect, the exact opposite of nx_usbloader

[2020-04-28 09:13] DarkMatterCore commented on #58
@Corgano Hi there. Thanks for opening this feature request issue.

It's on my to-do list, albeit with a very low priority at this moment, because of two different reasons:

1. Working on a Switch <-> PC transfer protocol will inevitably require a PC companion program capable of running under multiple OS, which means I'll have to get better at another language (Python, Java) in order to achieve tha

[2020-04-28 09:19] DarkMatterCore commented on #57
@Corgano It's a bug I haven't been able to reproduce myself, but I'll look into it. Thanks for opening this issue.

[2020-04-28 09:39] DarkMatterCore commented on #57
@Corgano Please test the attached build.

[nxdumptool_20200428_t1.zip](https://github.com/DarkMatterCore/nxdumptool/files/4544704/nxdumptool_20200428_t1.zip)

[2020-04-28 21:01] Corgano commented on #58
Just future thinking here, but maybe when you do get around to it you could chat up the guys at nxusbloader about integrating dumping into it. They already have a payload injector and a nsp merger integrated with their pc app, and it'd be awesome to have one so that does everything. If you could figure out a protocol, you'd only have to worry about your end of things, and nxusbloader is already cr

[2020-04-29 00:10] Corgano commented on #57
That fixed it! Woo!

Might I suggest a slight change to the way it's displayed? The format of [button] action [button[ action .... makes it a little hard to follow if the button before or after triggers the action.
Instead it could be [button action] [button action] [button action] Which makes it much more clear to new users, at a glance, what does what.

[2020-04-29 03:16] DarkMatterCore commented on #57
Alright then, I'll just make a silent update since this isn't really worthy enough to bump the version number. Thanks for testing the build.

Regarding the UI change, I think it's just not worth it since I'm not touching the old codebase unless some critical bug is discovered. The entire UI is being redesigned with lvgl.

[2020-04-29 05:02] Corgano commented on #57
Ahh fair enough. At lease now there's some indication now though. Thanks!

[2020-04-29 05:02] #57 closed

[2020-04-30 21:11] Corgano commented on #58
I mentioned it on an issue at NS_Usbloader and he seems game to come up with something, whenever you're ready.

[2020-05-01 05:40] DarkMatterCore commented on #58
@Corgano Just took a look at the issue and made a comment there. Hopefully we'll both come up with something nice for the nxdumptool rewrite.

[2020-05-01 07:49] Corgano commented on #58
I must say I'm quite excited. Any idea when the rewrite will be done? Some time before christmas?

[2020-05-01 08:10] DarkMatterCore commented on #58
No ETA at this moment, sadly. I do \*hope\* to release it before Christmas, though. Let me elaborate.

I'd say format compatibility is around 70% done, with only CNMT, NPDM, NSO and NACP support missing - luckily, these are pretty easy to implement, and shouldn't take me more than a few days.

Then again, I also have to rewrite title/content listing, which will be critical to take advantage of the

[2020-05-01 08:22] DarkMatterCore commented on #58
The rewrite is needed because the level of disorder in the current codebase is hideous. It was already becoming unmainteinable, and adding new features to it was a nightmare. Honestly, I just grabbed the best parts of it and decided to ditch it.

The stack corruption issue I fixed in the last release was actually what motivated me to start the rewrite - this bug was driving me crazy and I couldn't

[2020-05-01 08:30] DarkMatterCore commented on #58
Not only batch dumps will benefit from this. Everything else will do as well. 😛

[2020-05-05 17:42] DarkMatterCore commented on #58
@Corgano Status update: Switch <-> PC communication now works in the rewrite codebase, thanks to a debug tool written in Java by developersu. 🙂

Actual tests haven't been carried out because the companion app still needs to be developed, but the groundwork for this feature has mostly been finished (Switch side of things, at least).

Combined with the new threaded I/O, it's gonna be interesting to

[2020-05-10 13:34] DarkMatterCore commented on #58
@Corgano USB I/O is pretty much complete at this point.

![ns-usbloader](https://cdn.discordapp.com/attachments/478162551381819392/708996413123723315/Screenshot_9.png)

![nxdumptool](https://cdn.discordapp.com/attachments/478162551381819392/708998630207651881/2020051007043500-1E1800B8D04F999C436DDFE2B8CD0B81.jpg)

Extracted Dark Souls RomFS dump via USB. Took 97 secs.

Other tests have been carrie

[2020-05-10 17:40] Corgano commented on #58
That is fantastic! As soon as you have something stable enough to test I'd be happy to test it.

[2020-05-10 19:39] Corgano commented on #58
Will this feature need to wait for the rewrite to be completed, or is it possible to back this to the current release version in the meantime?

[2020-05-11 10:25] DarkMatterCore commented on #58
@Corgano It will only be available in the rewrite. It could be possible to port this back to the old nxdumptool branch, but honestly I don't want to lose any more time glueing new code to it.

[2020-05-12 18:48] pcwizard7 opened #59 "Dumps made by NXDumpTool Cause corruption in NSCBuilder custom files"
**Describe the bug**
no matter what settings I use to dump games in nxdumptool with change Program NSA / remove console data etc. The file will verify fine in ntdb but as soon as i try to either repack it a game into xci or combine a base + update files into one. the created file is corrupt and won't launch and error out  on the switch

I found its NXdumptool because i made new dump of game with s

[2020-05-12 18:55] DarkMatterCore commented on #59
@pcwizard7 Hi there. Thanks for opening this issue report.

If possible, please hit me up in Discord. My handle is available in my GitHub profile page.

[2020-05-12 19:35] pcwizard7 commented on #59
@DarkMatterCore sent u friend request its real late atm so can't really talk but leave any messages you want too and i get back to you

[2020-05-26 05:32] fennectech opened #60 "Feature Request. Ignored titles"
**Is your feature request related to a problem? Please describe.**
Some games are not worth dumping  And those games often receive updates constantly Like warframe.

**Describe the solution you'd like**
A way we can specify a list of title IDs that are simply ignored during a batch dump weather they have been dumped before or not.

**Describe alternatives you've considered**
a way to create an ove

[2020-06-01 06:27] Corgano commented on #58
Any news on the rewrite? Which discord do you usually hang out at?

[2020-06-02 04:52] DarkMatterCore commented on #59
Update: preliminary analysis suggests that NSC_Builder is specifically patching both Key Generation fields in NCAs from NSPs dumped with nxdumptool. Further analysis is required and will be carried out.

[2020-06-02 04:53] DarkMatterCore commented on #60
Thanks for opening this issue. This will also be eventually added to the rewrite.

[2020-06-02 04:57] DarkMatterCore commented on #5
After asking SciresM about the potential source of this problem, he said:

[code]

Fixing this issue will probably require messing with the fs sysmodule to interact directly with the gamecard ASIC.

[2020-06-02 05:09] DarkMatterCore commented on #10
@mariomadproductions According to SciresM, it seems there are no ECC blocks at all in Switch gamecards.

However, it has been proved that all Switch gamecards hold a 0x200 byte long sector that *precedes* the gamecard header, which contains communication keydata (title-specific, not gamecard-specific).

The data from this sector is used to configure the gamecard <-> ASIC communication encryption.

[2020-06-02 05:12] DarkMatterCore commented on #11
The ongoing rewrite will generate output dumps using ConcatenationFiles if they exceed the 4 GiB mark, even under exFAT. This will remove the need for a FAT32 option.

[2020-06-02 05:14] DarkMatterCore commented on #38
This milestone has already been achieved in the ongoing rewrite.

[2020-06-02 05:15] DarkMatterCore commented on #47
@Zet-sensei I'd love to give this another try using a test build based on the rewrite codebase. I'd be very grateful if you could help me out yet again.

[2020-06-02 05:17] DarkMatterCore commented on #58
@Corgano Still working on it at irregular intervals, sadly. Power outages in my city aren't very helpful. Feel free to send me a DM or a friend request on Discord, they're both open to anyone. It's easier than trying to contact me through a server.

[2020-06-02 05:55] Corgano commented on #58
I don't know how to friend people directly on discord.

Just curious is it faster dumping over usb or to SD?

On Mon, Jun 1, 2020, 11:18 PM Pablo Curiel <notifications@github.com> wrote:

[2020-06-02 05:59] DarkMatterCore commented on #58
@Corgano Orders of magnitude faster. @averne tested ACNH's RomFS dumping via USB and it took less than 6 minutes to dump all 60k+ files.

[2020-06-02 06:01] Corgano commented on #58
That sounds impressive, how long would that take to dump to SD?

I'd be happy to test dumping stuff once you have a test build available

On Mon, Jun 1, 2020, 11:59 PM Pablo Curiel <notifications@github.com> wrote:

[2020-06-02 06:04] DarkMatterCore commented on #58
@Corgano More than 2 hours for most people. This is because random access writes are way slower for SD cards, thus dumping many small files takes a lot of time. We're talking about 60k+ files, and most of them don't even reach 500 KiB in size.

[2020-06-02 06:08] Corgano commented on #58
Holy crap that's insane, like a 2,000% boost.

On Tue, Jun 2, 2020, 12:04 AM Pablo Curiel <notifications@github.com> wrote:

[2020-06-02 06:16] DarkMatterCore commented on #58
@Corgano Indeed. Speed improvements for sequential access writes are not as big, but they're still very much noticeable.

[2020-06-02 19:16] DarkMatterCore commented on #59
Further analysis of the NSP dumps suggest that their NCAs within, as well as their certificate chains and tickets, are all identical. There's really nothing that should be preventing the gamecard images generated by NSC_Builder, based on nxdumptool NSPs, from working.

@pcwizard7 was kind enough to provide logfiles from NUT for additional insight, using NSP dumps from `PC Building Simulator` gener

[2020-06-06 16:35] DarkMatterCore commented on #59
We discovered that repacking nxdumptool NSPs using tools such as hactoolnet is enough to get them to work properly with NSC_Builder. XMLs and JPGs were removed before generating the new packages with hactoolnet, which use PFS0 headers aligned to a 0x20-byte boundary.

However, after some additional tests using custom nxdumptool builds without XML/JPG generation and PFS0 header aligning to a 0x20-b

[2020-06-07 15:41] pcwizard7 commented on #59
reminder awaiting reply in discord thanks

[2020-06-09 13:52] julesontheroad commented on #59
The order doesn't matter headers are read and the order is decided by the cnmt to match Nintendo behavour.
I imagine the issue is on the tickets, probably some part of the function used uses my old code, more based on nut and more ticket dependant. The expected format of the ticket is scene format which was based on update tickets with the introduction of new flags in tickets nxdumptool tries to i

[2020-06-09 14:42] DarkMatterCore commented on #59
@julesontheroad Thanks for your insight on this matter. What led me to believe it's a file order problem is the fact that unpacking the NSP and repacking it using hactoolnet or similar tools fixes the issue  - the contents of the ticket itself are not changed in the process.

I'm recovering from an almost 48-hour long blackout, so at this moment I just don't have the energy to sit down and take a

[2020-06-09 15:12] julesontheroad commented on #59
@DarkMatterCore Sorry to hear about your last 48h man. Don't worry about the issue at the end is on my end, I already was planning to change all that stuff to avoid that kind of issues. If it's related to ticket flags as I expect I'll solve it on my end.

[2020-06-09 18:02] julesontheroad commented on #59
@DarkMatterCore @pcwizard7 I went and dump that same game and update with latest nxdumptool, in latest SX OS with FW 10.03 on the switch, using the same options. Then I did a verification with my tool, etc... and i didn't find issues. My first test test was with the beta and the second with the 0.98b exe from some months back.
I also tested the update in the text files. I actually didn't even find

[2020-06-09 18:15] DarkMatterCore commented on #59
@julesontheroad Thanks a lot for doing these additional tests, mate. It would be nice to know which NSC_Builder version is @pcwizard7 using.

Just in case, I'll keep an eye out for the open NSC_Builder issue and close this one for the time being. If something arises (which I doubt anyway), I will reopen this issue.

[2020-06-09 18:15] #59 closed

[2020-07-02 07:22] DarkMatterCore commented on #48
@TechGeekGamer @pcwizard7 `Bigkahuna666#9097` from Discord discovered that if you launch a shared game and let it retrieve the titlekey from the eShop, then press Home and launch nxdumptool via applet mode, you \*can\* dump shared game data without any major issues. This only works while the game is running, though.

[2020-07-17 05:30] DarkMatterCore commented on #58
@Corgano Some days ago, I decided to make the rewrite codebase public as a separate branch in this repository. If you ever feel like testing this feature yourself, by all means go ahead. If you hit me up at Discord, I'll happily assist you.

[2020-07-17 05:32] DarkMatterCore commented on #10
@mariomadproductions Support for dumping the initial data region + padding up to 0x1000 bytes has been implemented in the experimental `rewrite` branch. It has already been confirmed to work properly by some other users.

This issue will be kept open until the rewrite is finished.

[2020-09-03 06:35] ckurtz22 opened #61 "VideoCapture mode naming is inconsistent with switchbrew"
https://github.com/DarkMatterCore/nxdumptool/blob/a999447580fd1ac6a53d4ab6320856f6cfc66d8c/source/nca.c#L2594

I'm not sure if one is necessarily "correct", but it is inconsistent with switchbrew which just caused me a lot of confusion (thought the "Enabled" in the xml produced meant manual mode). Here is [switchbrew page](https://switchbrew.org/wiki/NACP_Format#VideoCapture)

[2020-09-03 06:43] DarkMatterCore commented on #61
Switchbrew information isn't used to generate AuthoringTool-like Control XMLs. This is all based on the 010 Editor template available [here](https://github.com/0Liam/switch-010editor-templates/blob/master/NACP.bt).

[2020-09-03 06:44] #61 closed

[2020-09-22 06:13] XMoonLightShadowsX opened #62 "i keep getting parsebktrentryfromnca: invalid nca bktr subsection header size!"
whenever i try to dump lets go pikachu from the game card it comes up with parsebktrentryfromnca: invalid nca bktr subsection header size! an i have no idea what it means

[2020-09-22 19:22] DarkMatterCore commented on #62
@XMoonLightShadowsX Hi there, mate. Nice to meet you.

Please provide additional information about your current setup. Otherwise, it's very difficult for me to identify the source of your problem. Issue templates are available while [creating a new issue](https://github.com/DarkMatterCore/nxdumptool/issues/new/choose) for this very reason.

[2020-09-30 19:29] sharrenskunk opened #63 "“readBktrSectionBlock: BKTR references non-existent base Rom-FS section!”"
Fully upgraded all tools, switch fw version & am running it through hekate, non applet mode.

Trying to use nxdump tool, I already dumped the game (I kind of miss placed it and is no longer on my SD card)and am trying to dump it with the update/dlc and it’s giving me an error “readBktrSectionBlock: BKTR references non-existent base Rom-FS section!”
![52B9A02E-C1EA-4745-9ADF-5843CD7AF281](https://u

[2020-09-30 19:55] sharrenskunk commented on #63
Do I need to redo my emuMMC since it can’t find the base application or update for some reason?

[2020-09-30 22:33] DarkMatterCore commented on #63
Redownload the latest NRO from the Releases section and try again. There was a borked condition check I fixed some hours after publishing the release.

[2020-09-30 23:03] sharrenskunk commented on #63
It still gives me that same error

[2020-10-01 02:32] sharrenskunk commented on #63
It still gives me the same error. I copied all content from my Nintendo folder into my raw1 folder so I can have all game data on my emummc and tried to rerun the dump and it gives me that same error.

I deleted the nro and put the one from here and it still gives “ readBktrSectionBlock: BKTR references non-existent base Rom-FS section” error

[2020-10-01 02:33] sharrenskunk commented on #63
If you already dumped a games RomFS and removed it from the SD card completely can you re-dump a game? Because it’s not letting me unfortunately.

[2020-10-01 09:49] DarkMatterCore commented on #63
@sharrenskunk Sorry, please try again. I uploaded the right NRO this time around.

[2020-10-01 10:33] sharrenskunk commented on #63
@DarkMatterCore how recent? I updated my nro a few hours ago when you said to. I’ll check again in the morning.

[2020-10-01 10:45] sharrenskunk commented on #63
Hey thanks for the fix! It’s working now <3

[2020-10-01 10:45] #63 closed

[2020-10-01 21:46] sharrenskunk opened #64 "NCA files"
Used latest nro and the NCA files aren't showing up. The dump is short files so it cannot be used in PkNx.

[2020-10-02 08:14] DarkMatterCore commented on #64
@sharrenskunk

Individual NCA listing + dumping per title isn't available in the application. This is a planned feature for the ongoing [rewrite](https://github.com/DarkMatterCore/nxdumptool/tree/rewrite).

In the meantime, you can dump a NSP for the title you wish to get the NCAs from, then unpack it in your PC to get those NCAs.

[2020-10-02 15:28] sharrenskunk commented on #64
@DarkMatterCore

I deleted the dump last night and it worked. It was randomly missing files.

[2020-10-02 15:29] #64 closed

[2020-10-04 22:49] ChocoCheeese07 opened #65 "readBktrSectionBlock: BKTR references non-existent base RomFS Section"
First, I know this issue seems to have been resolved in [this issue](https://github.com/DarkMatterCore/nxdumptool/issues/63), but I seem to be having the same problem. Was the fix uploaded to the app store version as well?

[2020-10-04 22:54] #65 closed

[2020-10-04 22:55] ChocoCheeese07 commented on #65
I had to update the application from the app. Didn't think it would do anything cause it said I was on the latest version.

[2020-10-04 23:10] DarkMatterCore commented on #65
@ChocoCheeese07 There was a hotfix that didn't bump the version number, yeah. Forcing an update from the application itself is equivalent to getting the latest NRO from this repository on your own.

[2020-10-16 03:38] putzritsu opened #66 "Failing when dumping an installed title on sysnand"
**Describe the bug**
I dumped the keys with Lockpick_RCM, but when i try to dump the demo for Kingdom Hearts Melody of Memory it shows "invalid public RSA exponent for eTicket data! Wrong keys?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Dumo installed SD card / eMMC content'
2. Click on 'Kingdom Hearts Melody of Memory DEMO Version'
3. Click on 'Nintendo Submission Package (NSP)

[2020-10-16 19:54] DarkMatterCore commented on #66
@putzritsu Hi there, nice to meet you.

Are you using a Mariko unit with a SX Core?

[2020-10-16 21:11] putzritsu commented on #66
@DarkMatterCore Hi, I'm glad to meet you two! No, I'm using a unpatched switch running atmosphere.

[2020-10-16 22:47] DarkMatterCore commented on #41
I'm reopening this issue because I recently rewrote the NSO parsing algorithm for the `rewrite` branch, and it has a dramatically smaller memory footprint. There's a good chance games like this one can be dumped under Applet Mode with the new algorithm.

[2020-10-16 23:27] fennectech commented on #41
Gives me an idea for a "limitation" label to give issues for things that simply cant be solved and must be worked around.

[2020-10-17 08:17] Whovian9369 commented on #66
No issue here with dumping it on sysNAND *without* an emuNAND on AMS 0.14.4 and NXDumpTool v1.1.12!
![2020101704164300-DB1426D1DFD034027CECDE9C2DD914B8](https://user-images.githubusercontent.com/5240754/96331993-a3a5ee00-102f-11eb-9131-2a6d0dc7e14a.jpg)

[2020-10-17 11:53] DarkMatterCore commented on #66
Hmm. I'm suspecting this might actually be an issue related to Lockpick_RCM, then.

@shchmue (sorry for tagging you!) Any thoughts?

[2020-10-17 18:35] shchmue commented on #66
No problem, does the `sd:/switch/prod.keys` file contain an `eticket_rsa_kek`?

[2020-10-17 20:02] putzritsu commented on #66
@shchmue No it doesn't, just checked. And other games don't work too, the problem probably are the prod.keys file, but idk how i messed it up because i did everything right.

[2020-10-17 20:03] shchmue commented on #66
did Lockpick_RCM display any errors? did you run the latest version?

[2020-10-17 20:08] putzritsu commented on #66
As far as I know, no, and yes I did run the lastest version.
![image](https://user-images.githubusercontent.com/69218835/96352650-37f96a80-109b-11eb-91c9-f79da61f5c37.png)

[2020-10-17 20:11] shchmue commented on #66
That's not the latest version, and it displays an error. The latest version fixes an issue that was created by an Atmosphere update. Using version 1.8.4 of Lockpick_RCM should result in a full key dump.

[2020-10-17 20:34] putzritsu commented on #66
'Kay, i'll try, sorry for the inconvenience

[2020-10-20 19:28] DarkMatterCore commented on #66
@putzritsu Where you able to get it working after updating Lockpick_RCM?

[2020-10-22 14:47] putzritsu commented on #66
@DarkMatterCore Sorry for the late response. Yes I was! I'm really sorry for the inconvenience and I need to thank you and @shchmue for the help.

[2020-10-22 14:47] #66 closed

[2020-10-24 22:16] KAMELCOLTD opened #67 "Dump to NSZ"
Hi
Was wondering  if you can add support to dump a game to nsz would be great!
i really wanted it less space and powerful

[2020-10-25 01:40] DarkMatterCore commented on #67
Hi there. Nice to meet you.

This feature overly complicates the whole NSP dumping process, and can potentially slow it down. The compression scheme used by the NSZ format requires little processing power to decompress, but a powerful CPU to achieve good compression rates.

This has been discussed in the past, although not in this issue tracker. I don't really think it'd be worth it to implement i

[2020-10-25 01:42] #67 closed

[2020-10-29 13:35] melsbacksfriend opened #68 "Can't dump Pokémon Sword romfs with Crown Tundra installed"
**Describe the bug**
A clear and concise description of what the bug is.

When I try dumping, I'm greeted with this screen:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to dump installed sd card emmc content
2. Click on Pokémon Sword
3. Choose romfs options
4. Use the update
5. Choose romfs section data dump

**Please fill the following information:**
- Horizon OS (Switch FW) version:

[2020-10-29 16:46] ChaosCzar opened #69 "Can't Dump BOTW"
**Describe the bug**
Unable to dump BOTW, tool is unable to find the file in the secure partition.

**To Reproduce**
1) Boot into CFW
2) Launch nxdumptool
3) Navigate to RomFS
4) Activate data dump

**Please fill the following information:**
- Horizon OS (Switch FW) version: 10.0.2
- CFW: Atmosphère
- CFW version: 0.15.0
- Atmosphère launch method (if applicable): Hekate
- NXDumpTool version: 1.1.

[2020-10-30 02:12] parkerlreed commented on #69
Hop by the Discord. There's a fixed build

[2020-10-30 06:08] MrSuperNuts commented on #69
I'm having the exact same error, did you find out how to fix it?

[2020-10-30 15:40] ChaosCzar commented on #69
Joined the Discord in the main post, there's some beta builds there!

[2020-10-30 15:41] #69 closed

[2020-11-04 10:03] Victini494 opened #70 "Unable to dump RomFS DLC data or ExeFS update data for Pokemon Sword"
**Describe the bug**
A clear and concise description of what the bug is.

When I try to dump data for the Crown Tundra DLC so I can randomize it, I receive the error

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Dump gamecard content'
2. Go to either RomFS or Exefs Options
3. Scroll down to Use update/DLC and scroll right until you cannot anymore on both the RomFS or EexFS options
4

[2020-11-07 13:19] cucholix opened #71 "Not able to dump/browse romfs from gamecard"
**Bug description:**
nxdumptool is not able to dump/browse romfs partition on gamecards.

**To Reproduce:**
Steps to reproduce the behavior:
1. Insert whatever gamecard on gamecard slot
2. Navigate to nxdumptool app and open
3. Select "Dump gamecard content"
4. Select "RomFS options"
5. Select either "RomFS section data dump" or "Browse RomFS section"
6. You will get this error screen:

![photo_20

[2020-11-08 00:16] parkerlreed commented on #71
Check out the Discord server. There's some fixed builds there.

[2020-11-08 08:25] LyuboA31 commented on #71
what discord server

[2020-11-10 05:28] DarkMatterCore commented on #71
Fixed in c471e61aff8c9e9d9cba2d9d213197b283835a8e.

And yes, it's a problem triggered by AMS 0.15.0.

[2020-11-10 05:28] #71 closed

[2020-11-10 05:29] DarkMatterCore commented on #70
@Victini494 Hi there. Sorry for the delay.

Have you tried running the latest Lockpick_RCM release?

[2020-11-10 05:31] DarkMatterCore commented on #68
@melsbacksfriend Hi there. Sorry for the long delay.

Seems like this could be related to #70. Same question, have you tried running the latest Lockpick_RCM release?

[2020-11-16 02:44] wurffl commented on #68
Having the same problem, used the latest Lockpick_RCM release.

[2020-12-04 22:41] thunder919113 opened #72 "Can only dump into XCI format"
**Describe the bug**
A clear and concise description of what the bug is.
When trying to dump a physical game into any avaliable format besides xci i get the error message "readFileFromSecureHfs0PartitionByName: unable to find file "/00521af773b9012a1fd434e7375482d8.nca" in Secure HFS0 partition!
readNcaDataByContentId: failed to read 3072 bytes block offset 0x00000000000000000 from NCA "00521af773

[2020-12-04 22:42] DarkMatterCore commented on #72
You're using an old build. Please redownload the NRO from the latest release page in this repository.

[2020-12-04 22:42] #72 closed

[2020-12-04 22:44] DarkMatterCore commented on #68
@melsbacksfriend @wurffl Please redownload the NRO from the latest release page in this repository and report back, if possible.

[2020-12-04 22:46] DarkMatterCore commented on #62
@XMoonLightShadowsX I will tentatively close this issue for the time being. If you gather the required info, feel free to reopen it.

[2020-12-04 22:46] #62 closed

[2020-12-04 22:46] thunder919113 commented on #72
The latest version on github (for me at least) is ver 1.1.12, the version im using. Can you send me a link to the latest version?

[2020-12-04 22:47] thunder919113 commented on #72
I'm using version 1.1.12, unless I'm mistaken thats the latest version on girhub

[2020-12-04 22:47] DarkMatterCore commented on #72
The version number is the same, but the build date isn't (compare the first line at the top while running the application). I can guarantee it's a different NRO.

[2020-12-04 22:50] thunder919113 commented on #72
The date is the same. Sep 26 2020 08:51:29

[2020-12-04 22:50] thunder919113 commented on #72
Oh wait the hour is different sorry, ill re-download straight away

[2020-12-19 20:45] MegAmi24 opened #74 "App fails to dump RomFS data from updates"
**Describe the bug**
Whenever attempting to dump RomFS files contained in an update for a game, the following error occurs:
"readBktrSectionBlock: BKTR references non-existent base RomFS section!"
The user is then given the option of whether or not they want to delete any files they've dumped prior to the error occurring.
Content from the base game or DLC dumps without issues.

**To Reproduce**
St

[2020-12-19 20:45] DarkMatterCore commented on #74
Just redownload the latest NRO. There was a silent update last month.

[2020-12-19 20:45] #74 closed

[2020-12-20 17:49] CynthiaFur commented on #68
I'm having the same problem also; using the latest release of Lockpick_RCM and the latest release of nxdumptool.

[2020-12-20 19:21] DarkMatterCore commented on #68
@CynthiaFur Could you please share a screenshot of the problem?

[2020-12-20 19:49] CynthiaFur commented on #68
I solved the issue by re-downloading nxdumptool from the homebrew shop and running it in applet mode. I just finished dumping the game a few minutes ago.

[2020-12-20 19:50] DarkMatterCore commented on #68
@CynthiaFur Does the build date at the top match November 10th, 2020?

[2020-12-20 21:53] CynthiaFur commented on #68
It doesn't. It says NXDumpTool v1.1.12. Built on Sep 26 2020

[2020-12-20 22:07] DarkMatterCore commented on #68
@CynthiaFur Then it's an outdated build. I suggest you manually update the application by redownloading the NRO from the releases page in this repository - there was a silent update last month.

Please retry what you did under the latest build. If it works, I'll close this issue.

[2020-12-21 02:44] CynthiaFur commented on #68
That's exactly what I did before I re-installed from the homebrew store and it didn't work. I could try it again, but I don't need to dump my game anymore

[2020-12-21 03:48] DarkMatterCore commented on #68
I'd greatly appreciate it, since I can't test it on my own. Please use this build whenever you get to it.

[nxdumptool.zip](https://github.com/DarkMatterCore/nxdumptool/files/5722213/nxdumptool.zip)

[2021-01-05 15:39] ColonelThirtyTwo commented on #68
Please don't do this. It makes it very confusing when there are two versions with the same version number, as you have just witnessed. It's not like version numbers are scarce.

In any case, I ran into this issue with Pokemon Sword. The 1.1.12 built in sept 2020 didn't work, but the 1.1.12 built in nov 2020 did.

[2021-01-05 16:06] DarkMatterCore commented on #68
@ColonelThirtyTwo Thanks for confirming the November build works.

The NRO from the release page was completely replaced, anyway. And forced updates can be performed from the application itself. The real issue here is when people redistribute the NRO when there's no need to do so - please don't do that.

[2021-01-08 13:22] tamodolo opened #75 "Dump to HDD"
**Is your feature request related to a problem? Please describe.**
This is something that would facilitate part-less dumps on systems that don't have exFAT. By formating an external HDD to exFAT one could dump direct to it by connecting the HDD directly to NS.

**Describe the solution you'd like**
An option to select Dump folder to select a HDD folder.

**Describe alternatives you've considered**

[2021-01-08 13:37] DarkMatterCore commented on #75
Already implemented as part of the ongoing [rewrite](https://github.com/DarkMatterCore/nxdumptool/tree/rewrite). It's not going to be implemented in legacy nxdumptool, though (current `master` branch).

Some of the PoC builds available in the Discord server are already capable of dumping data to USB mass storage devices.

Keep in mind I'm the lead developer of [libusbhsfs](https://github.com/DarkM

[2021-01-08 13:44] DarkMatterCore commented on #27
Another update on this matter: UMS device support has already been implemented in the ongoing [rewrite](https://github.com/DarkMatterCore/nxdumptool/tree/rewrite), although only some PoC builds are actually capable of using this feature.

fsp-usb has been deprecated in favor of [libusbhsfs](https://github.com/DarkMatterCore/libusbhsfs), which is a static library linked at compile time and doesn't

[2021-01-08 13:47] #75 closed

[2021-01-08 16:03] tamodolo commented on #75
oh! Thanks for that! I'll try some of discord build then.

[2021-03-01 03:30] Trelior commented on #68
Sorry for the nearly two-month necrobump, but I am at a loss about dumping 1.3.1 Sword, as well. I thought that updating the dump tool was what I needed, but it clearly wasn't. It will get to this point, then roll over and die. What am I doing wrong?

![Snapshot_20210228_222227](https://user-images.githubusercontent.com/79821178/109448654-75d8a900-7a14-11eb-9787-f771558885ff.jpg)

[2021-03-01 03:49] DarkMatterCore commented on #68
@Trelior Hi there, mate. It's okay, I was waiting for anyone other than me to comment on this issue.

Please provide more info about your current setup, or feel free to open a new issue (this is clearly not the same problem reported here).

[2021-03-01 04:08] Trelior opened #77 "Dump of Pokemon Sword v1.3.1 Fails Inexplicably at 92%"
**Describe the bug**
As stated in the title, everything goes smooth sailing until it his stream.pck, then it fails to write.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to dump installed sd card emmc content
2. Click on Pokémon Sword
3. Choose romfs options
4. Use the update
5. Choose romfs section data dump

**Please fill the following information:**
- Horizon OS (Switch FW) version

[2021-03-02 03:41] Trelior commented on #77
I may have discovered what the issue was. Either the disk is smaller than advertised or there's some jank with block size. I attempted to dump the ROM by individual directories, and it just ran out of space at romfs:/bin/Script_Event_Data, leaving no room for ./Sound

Seems the issue was entirely at the fault of my own hardware. Sorry for wasting you time, sir.

[2021-03-14 20:21] Sperguze commented on #77
I'm having the same problem with the same ammount of free space on the sd card. Do you think it'll be fixed by uninstalling some things before dumping?

[2021-03-14 20:29] Trelior commented on #77
That's what I ended up doing. I deleted a game that I had backed up that does me no good to have a second copy. Then I migrated my eMMC backup to dump Shield afterward.

[2021-03-14 20:34] Sperguze commented on #77
That seemed to be the problem, thanks.

[2021-03-22 22:44] Imuswitch commented on #70
I know this issue is pretty old but I'm getting the same message when trying to dump Fire Emblem Three Houses. I have everything including the Lockpick_RCM and NXDumpTool on it's latest versions.
![20210322_184241](https://user-images.githubusercontent.com/81196283/112067529-93de8880-8b3e-11eb-9836-430549bd73ed.jpg)

[2021-03-30 16:16] duddy223 opened #80 "Really slow dump speeds only for botw romFS 0.57-0.10 Mib/s"
on all other games besides Breath of the wild, its fine, even a nsp dump works fine for botw, but the romFS dump is so slow that even after 10 minutes it still says 10 hours left, if anyone could help that'd be awesome, Thanks!

[2021-04-01 12:05] Pixelplayz2215YT opened #81 "Can't dump the RomFS for my sd copy of Super Mario 3D world+Bowsers Fury"
So, I wanted to use Spotlight for SMB3DW+BF and I had to dump my RomFS, seems simple enough, so I use the update/dlc for it (Latest version I dumped) and it says it dumps the Stage Data and System Data with everything in it, but when I open the folder later after it completes without fail, those 2 folders are empty, how can I fix? I'm using lastest version of Atmosphere.

[2021-04-01 12:12] DarkMatterCore commented on #81
@Pixelplayz2215YT Did you enable the LayeredFS option before starting the RomFS dump process?

[2021-04-01 13:02] Pixelplayz2215YT commented on #81
I don't have that option, I'm using the Eshop version

[2021-04-01 13:02] Pixelplayz2215YT commented on #81
nvm I have that, no I did not use that

[2021-04-01 13:04] DarkMatterCore commented on #81
Are you using an exFAT partition? Please provide more details about your setup.

[2021-04-01 13:08] Pixelplayz2215YT commented on #81
I'm not sure if I'm on ExFat or not, I have Split files off, LayerdFs On, and I'm using the updated version of SM3DW+BF

[2021-04-01 13:28] Pixelplayz2215YT commented on #81
![image](https://user-images.githubusercontent.com/79018578/113301076-9bcfc280-92cc-11eb-9596-6de4893bc4f1.png)
The ones circled in red are empty

[2021-04-01 13:32] DarkMatterCore commented on #81
Check if your SD card is using an exFAT partition on your PC.

[2021-04-01 13:32] Pixelplayz2215YT commented on #81
Ok, I'll do that!

[2021-04-01 13:34] Pixelplayz2215YT commented on #81
It is FAT32 not ExFat, is that a problem?

[2021-04-01 20:09] Pixelplayz2215YT commented on #81
Should I make it a ExFat?

[2021-04-12 06:45] TheJoshuaRusso opened #83 "Issue Initiating Game Dump"
I have the prod.keys in SD:/Switch/Prod.keys and every time I attempt to dump a game I get an error saying "decryptNcaHeader: invalid NCA magic word! Wrong header key? (0x1BDCDBD9)
Try running lockpick_RCM to generate the keys from scratch. (Which I did)
![2021041123414300-B8FAEF4816CAC2B76D11869B05CA7601](https://user-images.githubusercontent.com/82071714/114351784-ef89a980-9b1f-11eb-92cd-dfb87c8

[2021-04-12 12:35] DarkMatterCore commented on #83
HOS 12.0.0 isn't properly supported at this moment. libnx hasn't been updated, and some ams_libs are currently broken. Please use a lower firmware version (or alternatively, nxdumptool v1.1.12) and try again.

[2021-04-12 15:50] TheJoshuaRusso commented on #83
That worked! Thank you so much!

[2021-04-13 18:02] manselmi opened #84 "Failed to initialize socket"
**Describe the bug**
Getting "failed to initialize socket" error message.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch nxdumptool
1. Select `Update options`
1. Select `Update NSWDB.com XML database`
1. Observe error message colored red: `updateNSWDBXml: failed to initialize socket! (0000F601)`

(Similar error message if `Update application` selected instead: `updateApplication: fai

[2021-04-13 19:26] DarkMatterCore commented on #84
Hi there, mate. It's a pleasure to meet you.

Please try using nxdumptool v1.1.12. v1.1.13 introduced a dependency on Atmosphère `sm` extensions, which are currently broken in AMS 0.19.x.

[2021-04-13 21:55] manselmi commented on #84
Thanks @DarkMatterCore, v1.1.12 is indeed working well.

I'm not sure if you would like this issue kept open as a signpost to others, so I'll leave it as-is, but please do whatever you like with this issue.

[2021-04-13 22:18] DarkMatterCore commented on #84
@manselmi Don't worry, I'll keep it open for the time being. There's not much I can do beyond waiting at this moment.

[2021-04-15 13:37] NicholasIstr opened #85 "Unable to dump cart with atmosphere for 12.0.0"
**Describe the bug**
not dumping loadmemorykeys failed to initialize the spl:crypto service

**To Reproduce**
Try and dump a cart with latest Atmosphere 0.19.1

**Please fill the following information:**
- Horizon OS 12.0.0
- CFW: Atmosphere
- CFW version: 0.19.1
- Atmosphère launch method : Heckate
- NXDumpTool version: 1.1.13
- Homebrew launch method: title override
- Source storage used with th

[2021-04-15 15:30] Masamune3210 commented on #85
try using 1.1.12

[2021-04-16 03:36] NicholasIstr commented on #85
That worked. Thanks a ton

[2021-04-16 03:36] #85 closed

[2021-04-17 18:50] Pixelplayz2215YT opened #86 "Won't dump RomFS or ExeFS for SD card to Gamecard games"
**Describe the bug**
Won't dump RomFS or ExeFS for SD card to Gamecard games

**To Reproduce**
Steps to reproduce the behavior:
1. Get key's using LockpickRCM and TegraRCM_GUI
2. Launch into CFW
3. Hold R while loading game to bring up the HB menu (This case it's Pokemon Sowrd)
4. Go to NxDumpTool
5. Click gamecard content
6. Use RomFS for ExeFS
7. Don't split into 4 parts, use LayerdFS, used upda

[2021-04-17 18:51] Pixelplayz2215YT commented on #86
It says to get the keys but I already have them

[2021-04-17 20:38] Masamune3210 commented on #86
Use previous version or wait for a update, latest atmos and HOS changed internal things and a update for this has to be released to take those changes into account

[2021-04-17 21:17] Pixelplayz2215YT commented on #86
I tried to use a previous version, but when I launch it in my switch Atmosphere crashes and I have to reload my Payload to get back to CFW

[2021-04-18 20:33] Pixelplayz2215YT commented on #86
This always happens when I launch an earlier version

![My Great Capture Screenshot 2021-04-18 16-31-51](https://user-images.githubusercontent.com/79018578/115159934-b42d3480-a063-11eb-8b1c-d53f10f7f3e6.png)
![My Great Capture Screenshot 2021-04-18 16-32-11](https://user-images.githubusercontent.com/79018578/115159935-b42d3480-a063-11eb-80ca-65bf1b44fe45.png)

[2021-04-18 21:10] DarkMatterCore commented on #86
@Pixelplayz2215YT That looks like a corrupted NRO. If you're using FTP to transfer the NRO from an older release, consider using a MTP responder homebrew or Hekate's UMS feature instead.

[2021-04-19 15:01] Pixelplayz2215YT commented on #86
I turn off my switch and put the SD card into my pc and do it that way, then I go to drive tools and click Eject to avoid corruption.

[2021-04-19 15:04] DarkMatterCore commented on #86
@Pixelplayz2215YT Then redownload the NRO. The nxdumptool icon should be displayed in the Homebrew Menu before launching it.

[2021-04-19 15:30] Pixelplayz2215YT commented on #86
I re-downloaded it 5 times now, same thing, should I wait for the next NxDumptool update?

[2021-04-19 15:32] Masamune3210 commented on #86
Maybe sd filesystem issues? Try backing up your card and reformatting it as fat32

[2021-04-19 15:35] Pixelplayz2215YT commented on #86
I can try that, but I don't have my computer rn, it's being worked on as my GPU is fried, I am working on getting a replacement. So it might be a while untill I give you an answer on if it worked or not

[2021-04-19 15:41] Masamune3210 commented on #86
you could try to move/uninstall all the games from your sd card and clean out your sd card of anything you don't need, then use hekate's formatter. If you have a low enough amount of stuff stored on your card it will preserve them for you

[2021-04-21 00:24] racer-face commented on #85
I had the same problem and AMS/HOS version as OP and I can confirm that replacing the 1.1.13 .nro file with the 1.1.12 .nro file in the sdmc:/switch/nxdumptool/ directory worked for me.

[2021-04-21 08:43] 13xforever commented on #84
I don't see any specific issue filed against this issue in ams repo, and release notes explicitly mention the need to recompile against new version of libnx to support new changes brought with 12.0/ams 0.19

[2021-04-21 14:24] DarkMatterCore commented on #86
Fixed in b1fa56d4784cfa4bd3524b65acac44336964ea99.

[2021-04-21 14:24] #86 closed

[2021-04-21 14:24] DarkMatterCore commented on #84
Fixed in b1fa56d4784cfa4bd3524b65acac44336964ea99.

[2021-04-21 14:24] #84 closed

[2021-04-21 14:24] DarkMatterCore commented on #83
Fixed in b1fa56d4784cfa4bd3524b65acac44336964ea99.

[2021-04-21 14:24] #83 closed

[2021-04-21 14:32] DarkMatterCore commented on #70
@Imuswitch Are you using a Mariko unit?

[2021-04-21 14:54] Imuswitch commented on #70
No as far as I'm aware. I have a pretty old switch and all the other modding and homebrew stuff I've done in the past has worked.

[2021-05-01 06:30] fennectech opened #87 "Broke on 12.0.0"
Dumping no longer works.  Its also unable to retreve the games name.

[2021-05-01 06:30] Whovian9369 commented on #87
Which version of the app did you use?

[2021-05-01 06:43] fennectech commented on #87
1.1.13

[2021-05-01 06:47] Whovian9369 commented on #87
Update to https://github.com/DarkMatterCore/nxdumptool/releases/tag/v1.1.14

[2021-05-01 06:48] fennectech commented on #87
Am stupid.   1.1.14 is live

[2021-05-01 13:06] #87 closed

[2021-05-24 12:31] guiviewer opened #88 "some long title games like 4 in 1 cartridge game dump failed."
Describe the bug
cartridge game dump failed since the filename is too long.

To Reproduce
Steps to reproduce the behavior:
1. Go to dump cartridge game.
2. Game title 'Honkaku AI Tosai Table Games: Texas Holdem Poker, Mahjong, Chess, Daifugo'
3. See error dumpNXCardImage: failed to open output file "sdmc://switch/nxdumptool/XCI/(long file name).xci

Please fill the following information:

Horizon

[2021-05-24 15:29] DarkMatterCore commented on #88
@guiviewer Hi there, mate. Thanks for reporting this issue.

Please hit me up via Discord in order to better assist you to overcome this issue. My Discord handle is `DarkMatterCore#4814`.

[2021-05-25 05:05] #88 closed

[2021-06-02 20:13] Mewthree3 opened #89 "Super Mario Odyssey save wiped from cart"
**Describe the bug**
The save from my little brother's SMO cart got wiped when I dumped the NSP to my console.

**To Reproduce**
Dump a cart to NSP, with Fat32 storage ON.

**Please fill the following information:**
- Horizon OS 12.0.2 (latest)
- CFW: Atmosphere 0.19.3
- Atmosphère launch method (if applicable): Hekate
- NXDumpTool version: Version bundles with sdsetup.com
- Homebrew launch method

[2021-06-02 20:16] DarkMatterCore commented on #89
Savegames are *not* stored on gamecards, but rather on the internal eMMC storage from the Switch. Use [Checkpoint](https://github.com/FlagBrew/Checkpoint) or [JKSV](https://github.com/J-D-K/JKSV) to manually transfer savedata from one console to another.

[2021-06-02 20:16] #89 closed

[2021-06-11 16:40] monokuma9 opened #90 "DAEMON X MACHINA, Yoshi's Crafted World, and Starlink - Battle for Atlas : Update Dump Error"
**Describe the bug**
Hello,

I've downloaded nxdumptool from sdmaker's website (and updated through the homebrew launcher) as per Nintendo Switch Homebrew guidelines and I've been able to dump most of the titles and updates I've tried. There are just a couple of updates that just won't dump that I can find no suggestions on. That being that attempts at dumping updates for DAEMON X MACHINA, Yoshi's

[2021-06-11 16:52] DarkMatterCore commented on #90
Run the application in title override mode (press R while launching a game). Applet mode offers ~300 MiB, which is not enough to decompress the full NSO from certain games.

This is exactly why the application displays a warning if it's launched using applet mode.

[2021-06-11 16:52] #90 closed

[2021-06-18 01:30] ninetalescommander opened #91 "Animal Crossing New Horizons"
Would it be possible to speed up the dumping process for Animal Crossing New Horizons? It's dumping at a snails pace and looks to take hours.

[2021-06-18 01:36] DarkMatterCore commented on #91
Hi there.

This is just not possible. ACNH's RomFS uses a lot (60K+) of small files, and SD cards are *pretty bad* when it comes to random access speeds (such as when creating a new file).

The ongoing rewrite will solve this issue by making it possible to dump data to UMS devices and/or a USB host.

Feel free to enter out Discord server if you wish to try out a proof-of-concept build.

[2021-06-18 01:36] #91 closed

[2021-06-18 01:59] Whovian9369 commented on #91
By the way, the proof-of-concept build *is* part of the mentioned ongoing rewrite. It has been tested quite a bit (by myself personally, as well) and I've successfully dumped the romFS for Animal Crossing: New Horizons in around 8 minutes total to a PC via USB.

If you want to join the discord server where there are public builds that you can use to test the rewrite for yourself, the invite link i

[2021-06-28 09:30] tkdfredrik04 opened #92 "npdm.main File missing"
I try to randomize my pokemon sword game but this error message pops up:
See the end of this message for details on invoking
just-in-time (JIT) debugging instead of this dialog box.

************** Exception Text **************
System.IO.FileNotFoundException: Could not find file 'D:\switch\nxdumptool\RomFS\Pok__mon Sword v0 (0100ABF008968000) (BASE)\exefs\main.npdm'.
File name: 'D:\switch\nxdumpt

[2021-06-29 17:34] DarkMatterCore commented on #92
Dump the ExeFS from the game. RomFS doesn't (usually) hold executable data.

[2021-06-29 17:34] #92 closed

[2021-06-29 21:13] tkdfredrik04 commented on #92
On Tue, 29 Jun 2021 at 19:34, Pablo Curiel ***@***.***> wrote:

how would i do that because when i try it wont dump the usual files that
Get dumped into the romFS folder

[2021-06-29 21:15] DarkMatterCore commented on #92
ExeFS and RomFS contents are stored in separate FS sections within a Program NCA. You must dump them separately.

[2021-06-29 21:23] tkdfredrik04 commented on #92
On Tue, 29 Jun 2021 at 23:15, Pablo Curiel ***@***.***> wrote:

How would that work out? do i dump both files and put the romFS files in
the ExeFS files and combine them? In that case how would i do that?

[2021-06-29 21:31] tkdfredrik04 commented on #92
On Tue, 29 Jun 2021 at 23:24, Whovian9369 ***@***.***> wrote:

Okay ill try that thank you

[2021-07-21 19:42] martmists-gh opened #93 "Allow dumping all DLC for a game at once"
**Is your feature request related to a problem? Please describe.**
For some games (like Smash) you need to dump about 13 DLC files. In most cases, you'd want to dump all DLC anyway, so adding a shortcut to dump all would be useful.

**Describe the solution you'd like**
Add an option to dump all DLC (Yes/No option). When enabled, the picker for which DLC to dump greys out and is ignored.

**Describ

[2021-07-21 19:44] DarkMatterCore commented on #93
Press Y on the SD/eMMC submenu. It'll open a batch dump menu.

[2021-07-21 19:44] #93 closed

[2021-07-22 04:25] alexgleason opened #94 "Dumped e-Shop titles try to phone home - "Checking whether this software can be played...""
**Describe the bug**
e-Shop titles dumped as NSPs with nxdumptool cannot be played offline. They attempt to connect to the internet, getting stuck forever.

**To Reproduce**
Steps to reproduce the behavior:
1. Dump an e-Shop title as an NSP with nxdumptool. Enable "remove console-specific data" and "ticketless dump" options.
2. Import the NSP on another partition and attempt to launch it.

**Pleas

[2021-07-22 04:34] DarkMatterCore commented on #94
Sorry, we don't support piracy.

[2021-07-22 04:34] #94 closed

[2021-07-22 15:10] alexgleason commented on #94
I was referring to homebrew NSPs, but okay. Thanks for ignoring the rest of my issue except that one line and being rude about it.

[2021-07-22 22:21] Masamune3210 commented on #94
Not rude, just stating the fact. Not supported means no more support. NSP means sigpatches, sigpatches are piracy tools

[2021-08-11 23:27] fennectech opened #95 "Broken on 12.1.0"
1.1.14 is broken.  Its unable to get debug handle for 0100000000000 and none of the games versions show.

[2021-08-11 23:30] DarkMatterCore commented on #95
@fennectech Please provide more information about your setup. I can barely do anything with that info.

[2021-08-12 00:47] fennectech commented on #95
Its just 12.1.0 with a few few sysmodules.  Ive no real changes to the firmware.    Does it work on 12.1.0 on your end?   What specifics would you like.  But i am running the latest deepsea with the latest atmosphere.

[2021-08-12 01:04] fennectech commented on #95
Hekate.

Sent from my iPad

[2021-08-12 01:07] fennectech commented on #95
I see.   I deleted the forwarders i had installed and that fixed it.   It was running under a forwarder.  I will gather more information (and provide the forwarder creator i use)

Sent from my iPad

[2021-08-12 01:11] DarkMatterCore commented on #95
It's an issue in the forwarder creator you're using, then. There's nothing to fix in nxdumptool.

[2021-08-12 01:11] #95 closed

[2021-08-12 02:21] fennectech commented on #95
Would you be willing to help me troubleshoot the issue so i can make a suggestion to the ones who create this forwarder maker?

[2021-08-12 02:40] DarkMatterCore commented on #95
@fennectech Sure, hit me up via Discord.

[2021-08-23 17:10] Inferno08642 opened #96 "Main.npdm file is missing even though its there"
I'm trying to randomize my pokemon sword but an error message keeps popping up.
failed to open -- E:\switch\nxdumptool\RomFS\pok__mon sword v0 (0100ABF008968000) (BASE)

could not find file 'E:\switch\nxdumptool\RomFS\pok__mon sword v0 (0100ABF008968000) (BASE)\exefs\main.npdm'.

But my main.npdm file is there and I don't know why it says it isn't.
How do I fix this issue.

[2021-08-24 02:48] DarkMatterCore commented on #96
This is unrelated to nxdumptool itself, even more so considering you've already dumped the game's ExeFS section (which is where the main.npdm file is stored).

Please seek help in the repository from the tool you're using.

[2021-08-24 02:48] #96 closed

[2021-09-21 01:00] Slluxx opened #97 "parseRomFsEntryFromNca & readNcaDataByContentId on some new games."
**Describe the bug**
Some new games (like Lost in Random) have some sort of new structure which makes it impossible for nxdumptool to dump the NSP & Browse RomFS or ExeFS.

**To Reproduce**
Install Lost in Random (eshop or tinfoil, the others do not seem to work) and try to do anything with the game.

**Please fill the following information:**
- Horizon OS (Switch FW) version: 13.0.0
- CFW: Atmosp

[2021-09-21 02:15] illyasever-lol commented on #97
No mo hero eshop and Fuuraiki 4 also like this.
Now i use dbi mtp modle to dump game.
U can go installed saw all game,and copy it to u computer.
U can use dbi or tinfoil to install like this game.

[2021-09-21 02:16] Whovian9369 commented on #97
Note that using apps like Tinfoil WILL get your console banned.

[2021-09-21 02:37] Masamune3210 commented on #97
Kind of a moot point, installing nsp's or pretty much anything you don't have a legit ticket for will get you banned, not just that numpty of a app

[2021-09-21 11:45] Slluxx commented on #97
Why is so much offtopic talk here? Thats not what github is for.

[2021-10-02 00:53] MonfGeiger opened #98 "How's it hanging?"
haven't used this in a while since irl reasons + job stuff. figured i'd check in and see how's everything going with the nxdumptool homebrew and maybe just life in general

[2021-10-21 17:09] ninetalescommander opened #99 "Mii Maker Support?"
Unless there's a program out that does this already that I'm not aware of; Would it be possible to add in the ability to dump the mii maker so we can get the models for those?

[2021-10-21 19:11] #99 closed

[2021-11-10 16:11] MichaelHinrichs opened #100 "Unable to dump ACNH update 2.0.0.0"
I'm attempting to dump update 2.0.0.0 of Animal Crossing New Horizons, but the "use update/DLC" option only has "No" for the base game, update 0.1.6.0, and DLC 0.0.0.0. I am running NXDumpTool 1.1.14, and have update 2.0.0.0 installed on my switch. What's going on?

I want update 2.0.0.0 to appear in "use update/DLC"

This may be something that i'm doing wrong, instead on nxdupmtool's fault, but a

[2021-11-10 16:31] DarkMatterCore commented on #100
The version numbers displayed by the title selectors don't reflect the version numbers displayed by Horizon OS when you push the + button on a game. These version numbers are stored in the NACP from games and updates, and extracting/parsing this data isn't implemented in legacy nxdumptool.

Update 0.1.6.0 most likely is what you're looking for.

[2021-11-11 16:31] MichaelHinrichs commented on #100
Apparently it was. It went to a different folder than my previous dumps from a few months back.

[2021-11-11 16:31] #100 closed

[2021-11-22 11:25] Machow8 opened #101 "Error when trying to dump pokemon brilliant pokemon + 4gb update"
**Describe the bug**
When i go to dump pokemon brilliant diamond base game and it's latest 4gb update data via 'RomFS section data dump', it shows the following error: "parseBktrEntryFromNca: invalid NCA BKTR subsection header size!".

**To Reproduce**
Steps to reproduce the behavior:

Choose Dump installed SD card / eMMC content > Choose Pokémon Brilliant Diamond > RomFS options > Set 'Use update

[2021-11-27 02:40] duljab commented on #101
I am having the same issue as well.

**To Reproduce:**

Choose Dump gamecard content > Choose Pokémon Brilliant Diamond > RomFS options > Set 'Use update/DLC' as 'yes:0100000011D90900 v131072 (0.0.2.0) (UPD) (SD Card)' and click on 'RomFS section data dump' > Error appears immediately

**Please fill the following information:**

    Horizon OS (Switch FW) version: SysMMC on 13.1.0;
    CFW: Atmosp

[2021-11-27 03:25] duljab commented on #101
Updating my Keys with the most recent release of Lockpick_RCM fixed this issue for me. I can now dump my RomFS.

[2021-11-27 12:43] Machow8 commented on #101
I also dumped keys from EmuMMC 13.1.0 and now it's working again!

Thx for that!

[2021-11-27 12:43] #101 closed

[2022-01-13 00:42] thisiscb31 opened #103 "Error: parseRomFsEntryFromNca: invalid header size for NCA RomFS section!"
I keep getting this error when I try to dump "no more heroes 3"
![thumbnail](https://user-images.githubusercontent.com/97644415/149245495-d3eab36b-590c-4f37-bd5f-398a94237bf1.jpeg)

[2022-01-20 19:13] INCHINS commented on #103
Same thing happens to me while trying to dump or even view the RomFS for Tetris 99 and/or Pac-Man 99

[2022-01-21 22:45] INCHINS opened #104 "Problems while extracting Tetris 99/Pac-Man 99 RomFS data"
**Describe the bug**
Whenever I try to extract or even view the RomFS for Tetris 99 and/or Pac-Man 99, I get an error stating that the RomFS has an invalid header size. This could be due to the fact that the RomFS of these games are newer and have a different structure that prevents NXDumpTool from even reading it properly.

**Errors shown**
`retrieveNcaTikTitleKey: NCA rights ID unavailable in th

[2022-02-05 00:03] DarkMatterCore commented on #98
@MonfGeiger Feel free to join the Discord server. You can find a link to it in the readme.

[2022-02-05 00:03] #98 closed

[2022-02-05 00:07] DarkMatterCore commented on #47
@Zet-sensei I'm temporarily closing this issue. If you have the time, feel free to reopen it so I can take a better look at the problem.

[2022-02-05 00:07] #47 closed

[2022-02-05 00:08] DarkMatterCore commented on #48
Lauching nxdumptool using title override on the shared game you wish to dump also works.

[2022-02-05 00:11] DarkMatterCore commented on #68
Closing this particular issue since it seems to have been resolved.

[2022-02-05 00:11] #68 closed

[2022-02-05 00:13] #77 closed

[2022-04-07 00:12] MrVtR commented on #103
Same error here with Chrono Cross The Radical Dreamers Edition

[2022-04-13 21:32] mariomadproductions opened #109 "Provide hash files/DAT files for XCI, Initial Area, and InitialArea+XCI concatenated"
This would make it easier to preserve information on the data in both the split "format" and the original format. This is probably a longer-term feature request as you'd have to add code to hash the data as its dumped (to avoid having to read the data all over again).

[2022-05-05 05:26] ItsLiterallyJosh opened #110 "SwSh Dumping Error"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Dump Installed SD Card/eMMC'
2. Click on 'Pokemon Sword/Shield (Tried Both)'
3. Scroll down to 'RomFS Dump w/update'
4. See error: readNcaDataByContentid: failed to read 309024 bytes block at offset 0x000000023 1 A46A00 from NCA"3bd378582831b509d186d9f43a220ff0"! (O

[2022-05-05 06:28] #110 closed

[2022-06-02 04:09] fennectech opened #111 "Feature request "Skip this item""
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [Its annoying to dump large titles you dont intend to save backups of while doing batch dump]

**Describe the solution you'd like**
Among "Dump" and "Dont dump" add a third option "Ignore forever" to the batch dump option

This could easily be im

[2022-06-08 22:48] aaronlink127 commented on #103
I'm pretty sure dumping your keys with Lockpick RCM will fix the issue.

[2022-06-14 23:07] SK91no commented on #39
![2022061500593400-A18332D608210216D3CD45106FD5B466](https://user-images.githubusercontent.com/63129189/173703590-407a6d77-b481-4bf5-81cd-8fccac03f507.jpg)
I still get this error when trying to dump RomFS for Gal*Gun Double Peace (ExeFS and NSP creation work fine)

[2022-06-24 13:12] f-raZ0R opened #112 "[FEATURE REQUEST] Sequental Dumping for RomFS dumps"
**Is your feature request related to a problem? Please describe.**
Not having enough storage space for a full dump.

**Describe the solution you'd like**
A similar solution to sequential NSP dumps. It dumps some of the RomFS, creates a header file to let it know how much was dumped, has you move the dumped files off the sd, and then dump the rest.

**Describe alternatives you've considered**
Not r

[2022-06-24 13:21] #112 closed

[2022-07-05 14:06] DarkMatterCore commented on #104
@INCHINS As of commit c910fe6c0aeb1c3ad4d3c87c3125df3f8970a6b0, the [rewrite](https://github.com/DarkMatterCore/nxdumptool/tree/rewrite) branch supports reading data from multiple NCA storage layers that belong to the same NCA FS section, using a new BucketTree + NcaStorage interface support for `Indirect`, `Sparse`, `AesCtrEx` and `Compressed` substorages, with and without updates. Compatibility

[2022-07-05 14:07] DarkMatterCore commented on #103
Please refer to https://github.com/DarkMatterCore/nxdumptool/issues/104#issuecomment-1175102727. I'll close this issue.

[2022-07-05 14:07] #103 closed

[2022-07-05 14:07] DarkMatterCore commented on #97
Please refer to https://github.com/DarkMatterCore/nxdumptool/issues/104#issuecomment-1175102727. I'll close this issue.

[2022-07-05 14:07] #97 closed

[2022-07-05 14:10] DarkMatterCore commented on #70
Please refer to https://github.com/DarkMatterCore/nxdumptool/issues/104#issuecomment-1175102727. This is probably related to bad cryptographic data handling in the `main` branch, though. I'll close this issue.

[2022-07-05 14:10] #70 closed

[2022-07-05 14:18] DarkMatterCore commented on #48
Games shared across different consoles, timed NSO trials and some other special titles require an Internet connection to be launched, because their ticket isn't permanently stored in the console. The workarounds found by `Bigkahuna666` are valid for all these cases.

There's nothing I can do about this except for adding warnings to the application. I'll close this issue.

[2022-07-05 14:18] #48 closed

[2022-07-05 14:21] DarkMatterCore commented on #38
Please refer to https://github.com/DarkMatterCore/nxdumptool/issues/104#issuecomment-1175102727. This has been fully implemented in the rewrite branch. I'll close this issue.

[2022-07-05 14:21] #38 closed

[2022-07-12 22:55] Jelle10324 opened #113 "NXDumpTool v1.1.15 Warning: missing keys"
Hello When i open nxdumptool i get on the bottom of my screen a warning that says
Warning: missing keys file at *sdmc:/switch/prod.keys*.
This file is needed to deal with the encryption schemes used by nintendo switch content files
SD/eMMC operations will be entirely disabled. along with NSP/ExeFS/RomFS related operations
please run lockpick_RCM to generate this file.

I open NXdumptool
i see dump

[2022-07-12 22:57] DarkMatterCore commented on #113
Hi there.

nxdumptool is telling you exactly what to do. Go download [Lockpick_RCM](https://github.com/shchmue/Lockpick_RCM) and dump your console keys, then run nxdumptool again.

[2022-07-12 23:00] Jelle10324 commented on #113
thanks for explaining it like that my english is really bad so when i read that i didnt know what to do appreciate it.

[2022-07-12 23:05] DarkMatterCore commented on #113
Don't worry, English isn't my mother tongue either. I'll close this issue.

[2022-07-12 23:05] #113 closed

[2022-07-24 00:29] DarkMatterCore commented on #5
@Thealexbarney let us know about the internal `nn::gcsrv` interface available within `fs`, as well as the [implementation](https://github.com/Thealexbarney/LibHac/tree/c5ff61bd89192bd502721cbcf9f7f1b8d9f3dfc2/src/LibHac/GcSrv) he came up with in LibHac a few months ago. This means we finally have a proper explanation for this issue: it is related to the fact that the internal gamecard handle from

[2022-07-25 01:27] RyabDev opened #114 "Half of my Game cart dumps are corrupted."
**Describe the bug**
After dumping all my game carts. Half of them are combining back into corrupted files. Tested by emulation and attempting to reinstall to system.
**To Reproduce**

**Please fill the following information:**
- Horizon OS (Switch FW) version: [e.g. 14.1.2]
- CFW: Atmosphere]
- CFW version: 1.3.2]
- Atmosphère launch method Hekate
- nxdumptool version: 1.1.15
- Homebrew launch me

[2022-07-25 02:56] DarkMatterCore commented on #114
How are you exactly combining the generated part files? This doesn't seem right.

[2022-07-25 13:22] RyabDev commented on #114
I used the latest build of NXDumpMerger. I double checked to see if it just corrupted during the merge but, it still gives save result after 2 merges.

[2022-07-25 15:53] RyabDev commented on #114
After re-dumping them they seem to be find. Unsure what exactly happened though. These were dumped directly from cartridges.

[2022-07-25 16:50] Dimensional commented on #114
If I may, it doesn't appear you would have needed to use NXDumpMerger. There is a guide on No-Intro that states you can use something that comes standard with your OS. [No-Intro Switch Card Dumping Guide - Merging Part Files](https://wiki.no-intro.org/index.php?title=Nintendo_Switch_Dumping_Guide#Merge_part_files_.28FAT32_only.29).

[2022-07-26 00:08] Masamune3210 commented on #114
All it is iirc is concatenating the parts back together, so "copy file1 + file2 + ....."on windows or the equivalent on Linux or macOS would probably be what you are looking for

[2022-07-26 11:38] DarkMatterCore commented on #114
@RyabDev it was probably an issue within NXDumpMerger, from the looks of it. Glad to know you eventually got it to work, anyway.

I'll close this issue.

[2022-07-26 11:38] #114 closed, assigned to nobody

[2022-09-10 22:12] HallowSL opened #115 "Can't Dump Splatoon 3 (Digital)"
Using both the latest version of this and Lockpick_RCM(tried dumping my keys multiple times, and redownloading current release of it) still getting the error "parseRomFsEntryFromNca: invalid header size for NCA Romfs section!"

[2022-09-10 22:42] DarkMatterCore commented on #115
Please either dump a XCI/NSP of the game and extract its RomFS using PC tools, or use a nxdumptool-rewrite PoC build from the Discord server. Legacy builds (NROs from the releases tab) don't support newer NCA storage types, and won't support them either -- I'm no longer mantaining the `main` branch.

[2022-09-10 22:42] #115 closed, assigned to nobody

[2022-09-14 20:35] toxicated101 commented on #88
What was the resolution on this as I have got the same issue with  nxdumptool 1.1.15. Trying to dump a long path / file name

[2022-10-05 09:32] ca1e opened #116 "build error with 'fatal error: ntfs-3g/config.h: No such file or directory'"
**Describe the bug**
pacman -S ntfs-3g not found

**To Reproduce**
Steps to reproduce the behavior:
install devkitpro
cd directory
run 'make'

[2022-10-05 09:35] Whovian9369 commented on #116
Have you built and installed the packages from [libusbhsfs](https://github.com/DarkMatterCore/libusbhsfs) (which can be found in `/libs/libusbhsfs` of the nxdumptool repo if you have the submodules available)?

[2022-10-05 10:03] ca1e commented on #116
oh there it is! after installed lots of deps and it could be works! thank you!so I would love to think if its better to write it down to the readme cause I couldn't saw anything about this and have no idea if you dont reply me :)

[2022-10-05 10:03] #116 closed, assigned to nobody

[2022-10-05 10:09] Whovian9369 commented on #116
No problem, I was happy to guide you to them!
If you want to just build the Proof-of-Concept binaries, you should run [`build.sh`](https://github.com/DarkMatterCore/nxdumptool/blob/rewrite/build.sh) instead, as `make` builds the Work-in-Progress GUI which is not connected to the dumping process at this point in time.

------

For anyone experiencing this issue with `ntfs-3g` or `liblext4` in the f

[2022-10-05 10:17] ca1e commented on #116
additional  tips:
you should also install `fakeroot` and `binutils` by using `sudo apt install` or other package manager
for homebrew, you need these:`switch-libjson-c` ,`switch-curl` ,`switch-glfw` and `switch-glad`

[2022-10-09 15:05] Dimensional opened #117 "Unable to dump Skyrim Anniversary Update DLC using latest pre-built"
**Describe the bug**
After purchasing the Anniversary Update for my copy of Skyrim, the eShop downloaded a DLC file that enabled all of the Anniversary data which was included in an Update File. Attempting to dump the DLC file returns the results found in the screenshot attached.

**To Reproduce**
Steps to reproduce the behavior:
1. Obviously need the base game with the latest update, and need to

[2022-10-09 15:56] DarkMatterCore commented on #117
I'll look into this, thanks for reporting the issue.

[2022-10-09 17:18] Dimensional commented on #117
I'm on the discord server, so if you need me to test any new build quickly, you can ping me there.

[2022-10-12 15:48] Onii-133 opened #118 "Invalid Directory/file Table for NCA Romf"
Trying to dump romFS files for the game "Little Witch Nobeta" Results in the following error:
"Invalid Directory/file Table for NCA Romf"

I saw a previous issue (#39) having this same problem, however I was not able to find "debug.txt" in the sd root directory or "sdmc:/nxdumptool/nxdumptool.log"

Horizon Version 14.1.2
CFW - Atmosphere v1.3.2|E
Fusee-primary
nxdumptool version 15.0.0 - Using Ove

[2022-10-12 16:38] Masamune3210 commented on #118
Try using the beta from the discord instead of the release version. It's quite far behind now last time I checked and doesn't handle any of the new stuff added since the last release

[2022-10-12 22:08] Onii-133 commented on #118
oh i didn't realize there was a more up to date version on a discord server, i just have been using the in-app updater.
Will update if it fixes the problem

[2022-10-25 11:17] DarkMatterCore commented on #118
Indeed, a lot of new stuff like proper BucketTree info/table management and support for other NCA storage types like Sparse and Compressed is only available in the rewrite branch's codebase.

I'm not willing to backport these changes -- I don't really want to touch legacy branch's codebase, not even with a 10ft pole.

I'll close this issue, but feel free to reopen it if needed.

[2022-10-25 11:17] #118 closed, assigned to nobody

[2022-11-05 23:34] Slluxx opened #119 "Bayonetta 3 & Alan Wake Remastered romfs issues"
**Describe the bug**
Alan Wake Remastered: `parseRomFsEntryFromNca: inavalid directory/file table for NCA RomFS section!`
Bayonetta 3: `parseRomFsEntryFromNca: invalid header size for NCA RomFs section (0x54B7310F9723F5AF at 0x0000000001BC4000)`

**To Reproduce**
Browse RomFS section on those games

**Please fill the following information:**
- Horizon OS (Switch FW) version: 15.0.1
- CFW: AMS
- CF

[2022-11-05 23:36] DarkMatterCore commented on #119
Use the rewrite builds from the Discord server, these problems won't be fixed in legacy builds as previously discussed in other issues. I'm only pushing code to the `rewrite` branch these days.

Feel free to reopen the issue if needed, though.

[2022-11-05 23:36] #119 closed, assigned to nobody

[2022-11-05 23:42] Slluxx commented on #119
Knew that but didnt know if this issue is game specific and needs your attention for the next version.
What discord server btw?

[2022-11-05 23:44] DarkMatterCore commented on #119
Nope, it's not game specific. Legacy nxdumptool is just lacking support for sparse and compression layers. NCA storage and Bucket Tree handling was rewritten from the ground up for `rewrite`.

[2022-11-30 21:09] GitGitHubUser opened #120 "parseExeFsEntryFromNca error"
-solved, please delete-